.elementor-651 .elementor-element.elementor-element-1fcd1a36>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(87deg, #9C9C9C 26%, #000033 100%);
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-651 .elementor-element.elementor-element-1fcd1a36 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-651 .elementor-element.elementor-element-7b7721e2 {
    text-align: center;
}

.elementor-651 .elementor-element.elementor-element-7b7721e2 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 78px;
    text-shadow: 8px 8px 10px #000000;
}

.elementor-651 .elementor-element.elementor-element-c32b054>.elementor-container {
    min-height: 220px;
}

.elementor-651 .elementor-element.elementor-element-c32b054:not(.elementor-motion-effects-element-type-background),
.elementor-651 .elementor-element.elementor-element-c32b054>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #3F3F3FA6;
}

.elementor-651 .elementor-element.elementor-element-c32b054 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -30px;
    margin-bottom: 0px;
}

.elementor-651 .elementor-element.elementor-element-c32b054>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-651 .elementor-element.elementor-element-f56f4fc {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-e1bef30 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-960ad36 {
    text-align: center;
}

.elementor-651 .elementor-element.elementor-element-960ad36 .elementor-heading-title {
    color: #FFFFFF;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.52);
}

.elementor-651 .elementor-element.elementor-element-deb3485 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-bb4fd5c {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-2370928f>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-651 .elementor-element.elementor-element-2370928f:not(.elementor-motion-effects-element-type-background),
.elementor-651 .elementor-element.elementor-element-2370928f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C3B680;
}

.elementor-651 .elementor-element.elementor-element-2370928f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0% 3% 0% 0%;
    z-index: 0;
}

.elementor-651 .elementor-element.elementor-element-2370928f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-651 .elementor-element.elementor-element-9d51d98>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-651 .elementor-element.elementor-element-9d51d98>.elementor-element-populated {
    padding: 0% 3% 0% 3%;
}

.elementor-651 .elementor-element.elementor-element-16a9432 {
    --spacer-size: 10px;
}

.elementor-651 .elementor-element.elementor-element-48fcd065 {
    text-align: right;
}

.elementor-651 .elementor-element.elementor-element-48fcd065 img {
    width: 45%;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-682eff1c {
    text-align: right;
}

.elementor-651 .elementor-element.elementor-element-682eff1c img {
    width: 75%;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-699c912b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-651 .elementor-element.elementor-element-699c912b>.elementor-element-populated {
    padding: 0% 3% 0% 3%;
}

.elementor-651 .elementor-element.elementor-element-6644d4d {
    --spacer-size: 10px;
}

.elementor-651 .elementor-element.elementor-element-b8f072 {
    text-align: left;
}

.elementor-651 .elementor-element.elementor-element-b8f072 img {
    width: 85%;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-42d02749 {
    text-align: left;
}

.elementor-651 .elementor-element.elementor-element-42d02749 img {
    width: 50%;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-2247b939>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-651 .elementor-element.elementor-element-2247b939>.elementor-element-populated {
    padding: 0% 25% 0% 3%;
}

.elementor-651 .elementor-element.elementor-element-db847fa {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-e129c95 .elementor-heading-title {
    color: #005440;
    font-family: "Poppins", Sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    word-spacing: 0em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-651 .elementor-element.elementor-element-e129c95>.elementor-widget-container {
    margin: 0px 0px 0px 49px;
}

.elementor-651 .elementor-element.elementor-element-f201a06 {
    column-gap: 0px;
    text-align: justify;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-651 .elementor-element.elementor-element-c4239b4>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-651 .elementor-element.elementor-element-c4239b4:not(.elementor-motion-effects-element-type-background),
.elementor-651 .elementor-element.elementor-element-c4239b4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C3B680;
}

.elementor-651 .elementor-element.elementor-element-c4239b4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0% 3% 0% 0%;
    z-index: 0;
}

.elementor-651 .elementor-element.elementor-element-c4239b4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-651 .elementor-element.elementor-element-686e22f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-651 .elementor-element.elementor-element-686e22f>.elementor-element-populated {
    padding: 0% 3% 0% 3%;
}

.elementor-651 .elementor-element.elementor-element-064a2f5 {
    --spacer-size: 10px;
}

.elementor-651 .elementor-element.elementor-element-954631f {
    text-align: right;
}

.elementor-651 .elementor-element.elementor-element-954631f img {
    width: 45%;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-f5541ac {
    text-align: right;
}

.elementor-651 .elementor-element.elementor-element-f5541ac img {
    width: 75%;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-c9dcdd5>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-651 .elementor-element.elementor-element-c9dcdd5>.elementor-element-populated {
    padding: 0% 3% 0% 3%;
}

.elementor-651 .elementor-element.elementor-element-f3a8b39 {
    --spacer-size: 10px;
}

.elementor-651 .elementor-element.elementor-element-92a6fb5 {
    text-align: left;
}

.elementor-651 .elementor-element.elementor-element-92a6fb5 img {
    width: 85%;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-1acb5ef {
    text-align: left;
}

.elementor-651 .elementor-element.elementor-element-1acb5ef img {
    width: 50%;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-cb5ff64 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-612301d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-651 .elementor-element.elementor-element-612301d>.elementor-element-populated {
    padding: 0% 25% 0% 3%;
}

.elementor-651 .elementor-element.elementor-element-4036f67 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-5f49c2f .elementor-heading-title {
    color: #005440;
    font-family: "Poppins", Sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    word-spacing: 0em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-651 .elementor-element.elementor-element-5f49c2f>.elementor-widget-container {
    margin: 0px 0px 0px 49px;
}

.elementor-651 .elementor-element.elementor-element-769b7ad {
    column-gap: 0px;
    text-align: justify;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-651 .elementor-element.elementor-element-5206905>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-651 .elementor-element.elementor-element-5206905:not(.elementor-motion-effects-element-type-background),
.elementor-651 .elementor-element.elementor-element-5206905>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C3B680;
}

.elementor-651 .elementor-element.elementor-element-5206905 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 3% 0% 3%;
    z-index: 0;
}

.elementor-651 .elementor-element.elementor-element-5206905>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-651 .elementor-element.elementor-element-18347538>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-651 .elementor-element.elementor-element-18347538>.elementor-element-populated {
    padding: 0% 5% 0% 0%;
}

.elementor-651 .elementor-element.elementor-element-a2dd07c {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-651 .elementor-element.elementor-element-df8581c {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-651 .elementor-element.elementor-element-6f5e18d8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-651 .elementor-element.elementor-element-71d180b6 img {
    width: 82%;
    box-shadow: 15px 15px 16px -8px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-14c9552 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-d46a2d8>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-651 .elementor-element.elementor-element-d46a2d8:not(.elementor-motion-effects-element-type-background),
.elementor-651 .elementor-element.elementor-element-d46a2d8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C3B680;
}

.elementor-651 .elementor-element.elementor-element-d46a2d8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 3% 0% 3%;
    z-index: 0;
}

.elementor-651 .elementor-element.elementor-element-d46a2d8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-651 .elementor-element.elementor-element-9c7dc37>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-651 .elementor-element.elementor-element-9c7dc37>.elementor-element-populated {
    padding: 0% 5% 0% 0%;
}

.elementor-651 .elementor-element.elementor-element-be2ebde {
    column-gap: 0px;
    text-align: justify;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    top: 0px;
}

body:not(.rtl) .elementor-651 .elementor-element.elementor-element-be2ebde {
    left: 0px;
}

body.rtl .elementor-651 .elementor-element.elementor-element-be2ebde {
    right: 0px;
}

.elementor-651 .elementor-element.elementor-element-2387380 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-c5974bc {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    top: 0px;
}

body:not(.rtl) .elementor-651 .elementor-element.elementor-element-c5974bc {
    left: 0px;
}

body.rtl .elementor-651 .elementor-element.elementor-element-c5974bc {
    right: 0px;
}

.elementor-651 .elementor-element.elementor-element-5843824>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-651 .elementor-element.elementor-element-6b2987e img {
    width: 82%;
    box-shadow: 15px 15px 16px -8px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-7e23249 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-52a174e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-651 .elementor-element.elementor-element-52a174e:not(.elementor-motion-effects-element-type-background),
.elementor-651 .elementor-element.elementor-element-52a174e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C3B680;
}

.elementor-651 .elementor-element.elementor-element-52a174e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 3% 0% 3%;
    z-index: 0;
}

.elementor-651 .elementor-element.elementor-element-52a174e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-651 .elementor-element.elementor-element-89a71db>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-651 .elementor-element.elementor-element-89a71db>.elementor-element-populated {
    padding: 0% 5% 0% 0%;
}

.elementor-651 .elementor-element.elementor-element-fe0e6e4 {
    column-gap: 0px;
    text-align: justify;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    top: 0px;
}

body:not(.rtl) .elementor-651 .elementor-element.elementor-element-fe0e6e4 {
    left: 0px;
}

body.rtl .elementor-651 .elementor-element.elementor-element-fe0e6e4 {
    right: 0px;
}

.elementor-651 .elementor-element.elementor-element-4a5a4a7 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-516c5dc {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    top: 0px;
}

body:not(.rtl) .elementor-651 .elementor-element.elementor-element-516c5dc {
    left: 0px;
}

body.rtl .elementor-651 .elementor-element.elementor-element-516c5dc {
    right: 0px;
}

.elementor-651 .elementor-element.elementor-element-d73e7f9>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-651 .elementor-element.elementor-element-3995fb7 img {
    width: 82%;
    box-shadow: 15px 15px 16px -8px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-ccd95c4 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-b19d03e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-651 .elementor-element.elementor-element-b19d03e:not(.elementor-motion-effects-element-type-background),
.elementor-651 .elementor-element.elementor-element-b19d03e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C3B680;
}

.elementor-651 .elementor-element.elementor-element-b19d03e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0% 0% 0% 0%;
    z-index: 1;
}

.elementor-651 .elementor-element.elementor-element-b19d03e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-651 .elementor-element.elementor-element-cc57b6d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-651 .elementor-element.elementor-element-cc57b6d>.elementor-element-populated {
    padding: 0% 3% 0% 3%;
}

.elementor-651 .elementor-element.elementor-element-bdeff58 {
    --spacer-size: 10px;
}

.elementor-651 .elementor-element.elementor-element-375e468 {
    text-align: right;
}

.elementor-651 .elementor-element.elementor-element-375e468 img {
    width: 67%;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-7fa8ebe>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-651 .elementor-element.elementor-element-7fa8ebe>.elementor-element-populated {
    padding: 0% 3% 0% 3%;
}

.elementor-651 .elementor-element.elementor-element-572f743 {
    --spacer-size: 10px;
}

.elementor-651 .elementor-element.elementor-element-9c7d656 {
    text-align: left;
}

.elementor-651 .elementor-element.elementor-element-9c7d656 img {
    width: 54%;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-16d27db {
    text-align: left;
}

.elementor-651 .elementor-element.elementor-element-16d27db img {
    width: 80%;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-4816158>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 15px;
}

.elementor-651 .elementor-element.elementor-element-4816158>.elementor-element-populated {
    padding: 0% 25% 0% 3%;
}

.elementor-651 .elementor-element.elementor-element-d852170 {
    text-align: left;
}

.elementor-651 .elementor-element.elementor-element-d852170 .elementor-heading-title {
    color: #005440;
    font-family: "Poppins", Sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    word-spacing: 0em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-651 .elementor-element.elementor-element-d852170>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-651 .elementor-element.elementor-element-002cb72 {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-651 .elementor-element.elementor-element-0ed733a .bdt-ep-button {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #666;
}

.elementor-651 .elementor-element.elementor-element-0ed733a .bdt-ep-button:hover {
    color: #C3B680;
    border-style: none;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-0ed733a .bdt-ep-button:after,
.elementor-651 .elementor-element.elementor-element-0ed733a .bdt-ep-button:hover,
.elementor-651 .elementor-element.elementor-element-0ed733a .bdt-ep-button.bdt-ep-button-effect-i,
.elementor-651 .elementor-element.elementor-element-0ed733a .bdt-ep-button.bdt-ep-button-effect-h:after {
    background-color: transparent;
    background-image: linear-gradient(180deg, #005440 0%, #005440 100%);
}

.elementor-651 .elementor-element.elementor-element-1bdb4b8>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-651 .elementor-element.elementor-element-1bdb4b8:not(.elementor-motion-effects-element-type-background),
.elementor-651 .elementor-element.elementor-element-1bdb4b8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C3B680;
}

.elementor-651 .elementor-element.elementor-element-1bdb4b8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0% 0% 0% 0%;
    z-index: 1;
}

.elementor-651 .elementor-element.elementor-element-1bdb4b8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-651 .elementor-element.elementor-element-61e0f81>.elementor-container {
    max-width: 1120px;
    min-height: 251px;
}

.elementor-651 .elementor-element.elementor-element-61e0f81:not(.elementor-motion-effects-element-type-background),
.elementor-651 .elementor-element.elementor-element-61e0f81>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C3B680;
}

.elementor-651 .elementor-element.elementor-element-61e0f81 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 0;
}

.elementor-651 .elementor-element.elementor-element-61e0f81>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-651 .elementor-element.elementor-element-e1de5b2 {
    z-index: 1;
}

.elementor-651 .elementor-element.elementor-element-7ebf3c6 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-9f5791d {
    text-align: left;
}

.elementor-651 .elementor-element.elementor-element-9f5791d .elementor-heading-title {
    color: #005440;
    font-family: "Poppins", Sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    word-spacing: 0em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-651 .elementor-element.elementor-element-9f5791d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-651 .elementor-element.elementor-element-8a8bc2b {
    text-align: left;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-651 .elementor-element.elementor-element-05557ec .bdt-ep-button {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #666;
}

.elementor-651 .elementor-element.elementor-element-05557ec .bdt-ep-button:hover {
    color: #C3B680;
    border-style: none;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-651 .elementor-element.elementor-element-05557ec .bdt-ep-button:after,
.elementor-651 .elementor-element.elementor-element-05557ec .bdt-ep-button:hover,
.elementor-651 .elementor-element.elementor-element-05557ec .bdt-ep-button.bdt-ep-button-effect-i,
.elementor-651 .elementor-element.elementor-element-05557ec .bdt-ep-button.bdt-ep-button-effect-h:after {
    background-color: transparent;
    background-image: linear-gradient(180deg, #005440 0%, #005440 100%);
}

.elementor-651 .elementor-element.elementor-element-c226225 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-c7f0dd3 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-651 .elementor-element.elementor-element-c7f0dd3 .elementor-divider-separator {
    width: 100%;
}

.elementor-651 .elementor-element.elementor-element-c7f0dd3 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-651 .elementor-element.elementor-element-ddcea10 {
    text-align: center;
}

.elementor-651 .elementor-element.elementor-element-ddcea10 .elementor-heading-title {
    color: #005440;
    font-family: "Poppins", Sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    word-spacing: 0em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-651 .elementor-element.elementor-element-daf5d35 .elementor-testimonial__text {
    color: #005440;
}

.elementor-651 .elementor-element.elementor-element-daf5d35 .elementor-testimonial__name {
    color: #005440;
}

.elementor-651 .elementor-element.elementor-element-daf5d35 .elementor-testimonial__title {
    color: #BB0909;
}

.elementor-651 .elementor-element.elementor-element-daf5d35 .elementor-swiper-button {
    font-size: 20px;
}

.elementor-651 .elementor-element.elementor-element-6375063 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-82787ca>.elementor-container {
    max-width: 1120px;
    min-height: 251px;
}

.elementor-651 .elementor-element.elementor-element-82787ca:not(.elementor-motion-effects-element-type-background),
.elementor-651 .elementor-element.elementor-element-82787ca>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C3B680;
}

.elementor-651 .elementor-element.elementor-element-82787ca {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 0;
}

.elementor-651 .elementor-element.elementor-element-82787ca>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-651 .elementor-element.elementor-element-9532391 {
    z-index: 1;
}

.elementor-651 .elementor-element.elementor-element-612f76e {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-77e4b78 {
    text-align: center;
}

.elementor-651 .elementor-element.elementor-element-77e4b78 .elementor-heading-title {
    color: #005440;
    font-family: "Poppins", Sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.2em;
    letter-spacing: 0px;
    word-spacing: 0em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.elementor-651 .elementor-element.elementor-element-5704337 .elementor-testimonial__text {
    color: #005440;
}

.elementor-651 .elementor-element.elementor-element-5704337 .elementor-testimonial__name {
    color: #005440;
}

.elementor-651 .elementor-element.elementor-element-5704337 .elementor-testimonial__title {
    color: #BB0909;
}

.elementor-651 .elementor-element.elementor-element-5704337 .elementor-swiper-button {
    font-size: 20px;
}

.elementor-651 .elementor-element.elementor-element-c9c397d {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-e1545f5>.elementor-container {
    min-height: 220px;
}

.elementor-651 .elementor-element.elementor-element-e1545f5:not(.elementor-motion-effects-element-type-background),
.elementor-651 .elementor-element.elementor-element-e1545f5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #3F3F3FA6;
}

.elementor-651 .elementor-element.elementor-element-e1545f5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -30px;
    margin-bottom: 0px;
}

.elementor-651 .elementor-element.elementor-element-e1545f5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-651 .elementor-element.elementor-element-fdbc1d7 {
    --spacer-size: 50px;
}

.elementor-651 .elementor-element.elementor-element-28d4944 {
    text-align: center;
}

.elementor-651 .elementor-element.elementor-element-28d4944 .elementor-heading-title {
    color: #FFFFFF;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.52);
}

.elementor-651 .elementor-element.elementor-element-fb491bc {
    text-align: center;
}

.elementor-651 .elementor-element.elementor-element-fb491bc .elementor-heading-title {
    color: #FFFFFF;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.52);
}

.elementor-651 .elementor-element.elementor-element-33d9b6e .ekit_social_media {
    text-align: center;
}

.elementor-651 .elementor-element.elementor-element-33d9b6e .elementor-repeater-item-2d5a709>a {
    color: #3375BA;
}

.elementor-651 .elementor-element.elementor-element-33d9b6e .elementor-repeater-item-2d5a709>a svg path {
    stroke: #3375BA;
    fill: #3375BA;
}

.elementor-651 .elementor-element.elementor-element-33d9b6e .elementor-repeater-item-2d5a709>a:hover {
    background-color: #3b5998;
}

.elementor-651 .elementor-element.elementor-element-33d9b6e .elementor-repeater-item-ecd9d7f>a {
    color: #FF5858;
}

.elementor-651 .elementor-element.elementor-element-33d9b6e .elementor-repeater-item-ecd9d7f>a svg path {
    stroke: #FF5858;
    fill: #FF5858;
}

.elementor-651 .elementor-element.elementor-element-33d9b6e .elementor-repeater-item-ecd9d7f>a:hover {
    background-color: #3b5998;
}

.elementor-651 .elementor-element.elementor-element-33d9b6e .elementor-repeater-item-8ef3dbf>a {
    color: #FF7C7C;
}

.elementor-651 .elementor-element.elementor-element-33d9b6e .elementor-repeater-item-8ef3dbf>a svg path {
    stroke: #FF7C7C;
    fill: #FF7C7C;
}

.elementor-651 .elementor-element.elementor-element-33d9b6e .elementor-repeater-item-8ef3dbf>a:hover {
    background-color: #3b5998;
}

.elementor-651 .elementor-element.elementor-element-33d9b6e .ekit_social_media>li>a {
    text-align: center;
    text-decoration: none;
    border-radius: 50% 50% 50% 50%;
    width: 30px;
    height: 30px;
    line-height: 28px;
}

.elementor-651 .elementor-element.elementor-element-33d9b6e .ekit_social_media>li {
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

.elementor-651 .elementor-element.elementor-element-55befbd {
    --spacer-size: 50px;
}

body.elementor-page-651:not(.elementor-motion-effects-element-type-background),
body.elementor-page-651>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}

@media(max-width:1024px) {
    .elementor-651 .elementor-element.elementor-element-2370928f {
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0% 5% 0% 5%;
        z-index: 2;
    }

    .elementor-651 .elementor-element.elementor-element-48fcd065 {
        text-align: left;
    }

    .elementor-651 .elementor-element.elementor-element-48fcd065 img {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-682eff1c {
        text-align: left;
    }

    .elementor-651 .elementor-element.elementor-element-682eff1c img {
        width: 85%;
    }

    .elementor-651 .elementor-element.elementor-element-b8f072 {
        text-align: right;
    }

    .elementor-651 .elementor-element.elementor-element-42d02749 {
        text-align: right;
    }

    .elementor-651 .elementor-element.elementor-element-2247b939>.elementor-element-populated {
        margin: 0% 0% 10% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
        padding: 0% 15% 0% 0%;
    }

    .elementor-651 .elementor-element.elementor-element-e129c95 .elementor-heading-title {
        font-size: 45px;
    }

    .elementor-651 .elementor-element.elementor-element-c4239b4 {
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0% 5% 0% 5%;
        z-index: 2;
    }

    .elementor-651 .elementor-element.elementor-element-954631f {
        text-align: left;
    }

    .elementor-651 .elementor-element.elementor-element-954631f img {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-f5541ac {
        text-align: left;
    }

    .elementor-651 .elementor-element.elementor-element-f5541ac img {
        width: 85%;
    }

    .elementor-651 .elementor-element.elementor-element-92a6fb5 {
        text-align: right;
    }

    .elementor-651 .elementor-element.elementor-element-1acb5ef {
        text-align: right;
    }

    .elementor-651 .elementor-element.elementor-element-612301d>.elementor-element-populated {
        margin: 0% 0% 10% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
        padding: 0% 15% 0% 0%;
    }

    .elementor-651 .elementor-element.elementor-element-5f49c2f .elementor-heading-title {
        font-size: 45px;
    }

    .elementor-651 .elementor-element.elementor-element-5206905 {
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0% 5% 0% 5%;
    }

    .elementor-651 .elementor-element.elementor-element-18347538>.elementor-element-populated {
        padding: 0% 35% 0% 0%;
    }

    .elementor-651 .elementor-element.elementor-element-6f5e18d8>.elementor-element-populated {
        margin: 10% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }

    .elementor-651 .elementor-element.elementor-element-d46a2d8 {
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0% 5% 0% 5%;
        z-index: 4;
    }

    .elementor-651 .elementor-element.elementor-element-9c7dc37>.elementor-element-populated {
        padding: 0% 35% 0% 0%;
    }

    .elementor-651 .elementor-element.elementor-element-be2ebde>.elementor-widget-container {
        margin: 50px 0px 0px 0px;
    }

    .elementor-651 .elementor-element.elementor-element-c5974bc>.elementor-widget-container {
        margin: 115px 0px 0px 0px;
    }

    body:not(.rtl) .elementor-651 .elementor-element.elementor-element-c5974bc {
        left: 7px;
    }

    body.rtl .elementor-651 .elementor-element.elementor-element-c5974bc {
        right: 7px;
    }

    .elementor-651 .elementor-element.elementor-element-c5974bc {
        top: 50px;
    }

    .elementor-651 .elementor-element.elementor-element-5843824>.elementor-element-populated {
        margin: 10% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }

    .elementor-651 .elementor-element.elementor-element-6b2987e>.elementor-widget-container {
        margin: 175px 0px 0px 0px;
    }

    .elementor-651 .elementor-element.elementor-element-52a174e {
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0% 5% 0% 5%;
        z-index: 4;
    }

    .elementor-651 .elementor-element.elementor-element-89a71db>.elementor-element-populated {
        margin: 020% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
        padding: 0% 35% 0% 0%;
    }

    .elementor-651 .elementor-element.elementor-element-fe0e6e4>.elementor-widget-container {
        margin: 50px 0px 0px 0px;
    }

    .elementor-651 .elementor-element.elementor-element-516c5dc>.elementor-widget-container {
        margin: 300px 0px 0px 0px;
    }

    body:not(.rtl) .elementor-651 .elementor-element.elementor-element-516c5dc {
        left: 7px;
    }

    body.rtl .elementor-651 .elementor-element.elementor-element-516c5dc {
        right: 7px;
    }

    .elementor-651 .elementor-element.elementor-element-516c5dc {
        top: 50px;
    }

    .elementor-651 .elementor-element.elementor-element-d73e7f9>.elementor-element-populated {
        margin: 10% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }

    .elementor-651 .elementor-element.elementor-element-3995fb7>.elementor-widget-container {
        margin: 350px 0px 0px 0px;
    }

    .elementor-651 .elementor-element.elementor-element-b19d03e {
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0% 5% 0% 5%;
        z-index: 0;
    }

    .elementor-651 .elementor-element.elementor-element-375e468 {
        text-align: left;
    }

    .elementor-651 .elementor-element.elementor-element-375e468 img {
        width: 85%;
    }

    .elementor-651 .elementor-element.elementor-element-9c7d656 {
        text-align: right;
    }

    .elementor-651 .elementor-element.elementor-element-16d27db {
        text-align: right;
    }

    .elementor-651 .elementor-element.elementor-element-4816158>.elementor-element-populated {
        margin: 0% 0% 10% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
        padding: 0% 15% 0% 0%;
    }

    .elementor-651 .elementor-element.elementor-element-d852170 .elementor-heading-title {
        font-size: 45px;
    }

    .elementor-651 .elementor-element.elementor-element-1bdb4b8 {
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0% 5% 0% 5%;
        z-index: 0;
    }

    .elementor-651 .elementor-element.elementor-element-9f5791d {
        text-align: center;
    }

    .elementor-651 .elementor-element.elementor-element-9f5791d .elementor-heading-title {
        font-size: 45px;
    }

    .elementor-651 .elementor-element.elementor-element-9f5791d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-651 .elementor-element.elementor-element-8a8bc2b {
        text-align: center;
    }

    .elementor-651 .elementor-element.elementor-element-8a8bc2b>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-651 .elementor-element.elementor-element-05557ec>.elementor-widget-container {
        margin: -20px 0px 0px 0px;
    }

    .elementor-651 .elementor-element.elementor-element-c7f0dd3 .elementor-divider-separator {
        width: 39%;
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-651 .elementor-element.elementor-element-c7f0dd3 .elementor-divider {
        text-align: center;
    }

    .elementor-651 .elementor-element.elementor-element-ddcea10 {
        text-align: center;
    }

    .elementor-651 .elementor-element.elementor-element-ddcea10 .elementor-heading-title {
        font-size: 45px;
    }

    .elementor-651 .elementor-element.elementor-element-ddcea10>.elementor-widget-container {
        margin: 0px 24px 0px 0px;
    }

    .elementor-651 .elementor-element.elementor-element-77e4b78 {
        text-align: center;
    }

    .elementor-651 .elementor-element.elementor-element-77e4b78 .elementor-heading-title {
        font-size: 45px;
    }

    .elementor-651 .elementor-element.elementor-element-77e4b78>.elementor-widget-container {
        margin: 0px 24px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-651 .elementor-element.elementor-element-2370928f {
        margin-top: 25%;
        margin-bottom: 0%;
    }

    .elementor-651 .elementor-element.elementor-element-9d51d98 {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-9d51d98>.elementor-element-populated {
        padding: 0% 0% 0% 3%;
    }

    .elementor-651 .elementor-element.elementor-element-48fcd065 img {
        width: 70%;
    }

    .elementor-651 .elementor-element.elementor-element-682eff1c img {
        width: 90%;
    }

    .elementor-651 .elementor-element.elementor-element-699c912b {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-699c912b>.elementor-element-populated {
        padding: 0% 3% 0% 0%;
    }

    .elementor-651 .elementor-element.elementor-element-b8f072 img {
        width: 100%;
    }

    .elementor-651 .elementor-element.elementor-element-42d02749 img {
        width: 80%;
    }

    .elementor-651 .elementor-element.elementor-element-2247b939>.elementor-element-populated {
        margin: 0% 0% 15% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
        padding: 0px 0px 0px 0px;
    }

    .elementor-651 .elementor-element.elementor-element-e129c95 {
        text-align: center;
    }

    .elementor-651 .elementor-element.elementor-element-e129c95 .elementor-heading-title {
        font-size: 28px;
        line-height: 1.1em;
    }

    .elementor-651 .elementor-element.elementor-element-c4239b4 {
        margin-top: -1%;
        margin-bottom: 0%;
    }

    .elementor-651 .elementor-element.elementor-element-686e22f {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-686e22f>.elementor-element-populated {
        padding: 0% 0% 0% 3%;
    }

    .elementor-651 .elementor-element.elementor-element-954631f img {
        width: 70%;
    }

    .elementor-651 .elementor-element.elementor-element-f5541ac img {
        width: 90%;
    }

    .elementor-651 .elementor-element.elementor-element-c9dcdd5 {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-c9dcdd5>.elementor-element-populated {
        padding: 0% 3% 0% 0%;
    }

    .elementor-651 .elementor-element.elementor-element-92a6fb5 img {
        width: 100%;
    }

    .elementor-651 .elementor-element.elementor-element-1acb5ef img {
        width: 80%;
    }

    .elementor-651 .elementor-element.elementor-element-612301d>.elementor-element-populated {
        margin: 0% 0% 15% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
        padding: 0px 0px 0px 0px;
    }

    .elementor-651 .elementor-element.elementor-element-5f49c2f {
        text-align: center;
    }

    .elementor-651 .elementor-element.elementor-element-5f49c2f .elementor-heading-title {
        font-size: 28px;
        line-height: 1.1em;
    }

    .elementor-651 .elementor-element.elementor-element-5206905 {
        margin-top: 8%;
        margin-bottom: 0%;
        padding: 0% 5% 0% 5%;
    }

    .elementor-651 .elementor-element.elementor-element-18347538>.elementor-element-populated {
        padding: 0% 0% 0% 0%;
    }

    .elementor-651 .elementor-element.elementor-element-6f5e18d8>.elementor-element-populated {
        margin: 15% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }

    .elementor-651 .elementor-element.elementor-element-d46a2d8 {
        margin-top: 8%;
        margin-bottom: 0%;
        padding: 0% 5% 0% 5%;
    }

    .elementor-651 .elementor-element.elementor-element-9c7dc37>.elementor-element-populated {
        padding: 0% 0% 0% 0%;
    }

    .elementor-651 .elementor-element.elementor-element-5843824>.elementor-element-populated {
        margin: 15% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }

    .elementor-651 .elementor-element.elementor-element-52a174e {
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0% 5% 0% 5%;
    }

    .elementor-651 .elementor-element.elementor-element-89a71db>.elementor-element-populated {
        padding: 0% 0% 0% 0%;
    }

    .elementor-651 .elementor-element.elementor-element-fe0e6e4>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-651 .elementor-element.elementor-element-516c5dc>.elementor-widget-container {
        margin: 145px -1px -1px -1px;
    }

    body:not(.rtl) .elementor-651 .elementor-element.elementor-element-516c5dc {
        left: 6px;
    }

    body.rtl .elementor-651 .elementor-element.elementor-element-516c5dc {
        right: 6px;
    }

    .elementor-651 .elementor-element.elementor-element-516c5dc {
        top: 50px;
    }

    .elementor-651 .elementor-element.elementor-element-d73e7f9>.elementor-element-populated {
        margin: 15% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }

    .elementor-651 .elementor-element.elementor-element-3995fb7>.elementor-widget-container {
        margin: 300px -1px -1px -1px;
    }

    .elementor-651 .elementor-element.elementor-element-b19d03e {
        margin-top: 25%;
        margin-bottom: 0%;
    }

    .elementor-651 .elementor-element.elementor-element-cc57b6d {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-cc57b6d>.elementor-element-populated {
        padding: 0% 0% 0% 3%;
    }

    .elementor-651 .elementor-element.elementor-element-375e468 img {
        width: 90%;
    }

    .elementor-651 .elementor-element.elementor-element-7fa8ebe {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-7fa8ebe>.elementor-element-populated {
        padding: 0% 3% 0% 0%;
    }

    .elementor-651 .elementor-element.elementor-element-9c7d656 img {
        width: 100%;
    }

    .elementor-651 .elementor-element.elementor-element-16d27db img {
        width: 80%;
    }

    .elementor-651 .elementor-element.elementor-element-4816158>.elementor-element-populated {
        margin: 0% 0% 15% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
        padding: 0px 0px 0px 0px;
    }

    .elementor-651 .elementor-element.elementor-element-d852170 {
        text-align: center;
    }

    .elementor-651 .elementor-element.elementor-element-d852170 .elementor-heading-title {
        font-size: 28px;
        line-height: 1.1em;
    }

    .elementor-651 .elementor-element.elementor-element-1bdb4b8 {
        margin-top: 25%;
        margin-bottom: 0%;
    }

    .elementor-651 .elementor-element.elementor-element-9f5791d {
        text-align: center;
    }

    .elementor-651 .elementor-element.elementor-element-9f5791d .elementor-heading-title {
        font-size: 28px;
        line-height: 1.1em;
    }

    .elementor-651 .elementor-element.elementor-element-ddcea10 {
        text-align: center;
    }

    .elementor-651 .elementor-element.elementor-element-ddcea10 .elementor-heading-title {
        font-size: 28px;
        line-height: 1.1em;
    }

    .elementor-651 .elementor-element.elementor-element-77e4b78 {
        text-align: center;
    }

    .elementor-651 .elementor-element.elementor-element-77e4b78 .elementor-heading-title {
        font-size: 28px;
        line-height: 1.1em;
    }
}

@media(min-width:768px) {
    .elementor-651 .elementor-element.elementor-element-9d51d98 {
        width: 27.5%;
    }

    .elementor-651 .elementor-element.elementor-element-699c912b {
        width: 27.5%;
    }

    .elementor-651 .elementor-element.elementor-element-2247b939 {
        width: 45%;
    }

    .elementor-651 .elementor-element.elementor-element-686e22f {
        width: 27.5%;
    }

    .elementor-651 .elementor-element.elementor-element-c9dcdd5 {
        width: 27.5%;
    }

    .elementor-651 .elementor-element.elementor-element-612301d {
        width: 45%;
    }

    .elementor-651 .elementor-element.elementor-element-18347538 {
        width: 50.027%;
    }

    .elementor-651 .elementor-element.elementor-element-6f5e18d8 {
        width: 49.973%;
    }

    .elementor-651 .elementor-element.elementor-element-9c7dc37 {
        width: 50.027%;
    }

    .elementor-651 .elementor-element.elementor-element-5843824 {
        width: 49.973%;
    }

    .elementor-651 .elementor-element.elementor-element-89a71db {
        width: 50.027%;
    }

    .elementor-651 .elementor-element.elementor-element-d73e7f9 {
        width: 49.973%;
    }

    .elementor-651 .elementor-element.elementor-element-cc57b6d {
        width: 27.5%;
    }

    .elementor-651 .elementor-element.elementor-element-7fa8ebe {
        width: 27.5%;
    }

    .elementor-651 .elementor-element.elementor-element-4816158 {
        width: 45%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-651 .elementor-element.elementor-element-9d51d98 {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-699c912b {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-2247b939 {
        width: 100%;
    }

    .elementor-651 .elementor-element.elementor-element-686e22f {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-c9dcdd5 {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-612301d {
        width: 100%;
    }

    .elementor-651 .elementor-element.elementor-element-18347538 {
        width: 100%;
    }

    .elementor-651 .elementor-element.elementor-element-6f5e18d8 {
        width: 100%;
    }

    .elementor-651 .elementor-element.elementor-element-9c7dc37 {
        width: 100%;
    }

    .elementor-651 .elementor-element.elementor-element-5843824 {
        width: 100%;
    }

    .elementor-651 .elementor-element.elementor-element-89a71db {
        width: 100%;
    }

    .elementor-651 .elementor-element.elementor-element-d73e7f9 {
        width: 100%;
    }

    .elementor-651 .elementor-element.elementor-element-cc57b6d {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-7fa8ebe {
        width: 50%;
    }

    .elementor-651 .elementor-element.elementor-element-4816158 {
        width: 100%;
    }
}