/*CSS for Video introduction or Introduction*/
.video-introduction {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-introduction-content {
    text-align: center;
}

.banner-introduction-content h1 {
    font-size: 120px;
    color: #005440;
    font-weight: 600;
    text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);

}

.banner-introduction-content h1:hover {
    -webkit-text-stroke: 2px #005440;
    color: transparent;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0)
}

.video-introduction-content {
    text-align: center;
}

.video-introduction-content h1 {
    font-size: 120px;
    color: #fff;
    font-weight: 600;
}


/*phone responsive*/
@media (max-width : 768px) {
    .header {
        width: 100%;
    }
    /* Video below for welcome, contactus, and join pages*/
    h1.intro-desktop-text {
        display: none;
    }
    .card {
        width: 100%;
        margin: 0 auto;
    }
    .video-introduction video.back-video {
        width: 100%;
        height: auto;
      }
    .video-introduction-content h1 {
        font-size: 24px;
        color: #fff;
        font-weight: 600;
    }
    h1.intro-desktop-text {
        font-size: 0px;
    }
    .video-introduction-content h3 {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
    }
    /* Banner below for welcome, team members, aboutus, and donate pages*/
    .background-block {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    background-block.column h2 {
        font-size: 30px;
        color: #fff;
        font-weight: 600;
    }
    .banner-introduction-content{
        text-align: center;
    }
    .banner-introduction-content h1 {
            font-size: 50px;
            color: #005440;
            font-weight: 600;
            text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
    }
    .banner-introduction-content h1:hover {
        -webkit-text-stroke: 2px #005440;
        color: transparent;
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0)
    }
    }

/*desktop responsive*/
@media (min-width: 568px) {
    .video-introduction-content h1 {
        font-size: 120px;
        color: #fff;
        font-weight: 600;
    }

    h1.intro-phone-text {
        font-size: 0;
    }

    .video-introduction-content h3 {
        font-size: 50px;
        color: #fff;
        font-weight: 600;
    }
}

/* Text banner responsive */
h1.hero-heading {
    font-size: 120px;
    font-weight: bold;
}

@media (max-width: 768px) {
    h1.hero-heading {
        font-size: 60px;
    }
}

.video-introduction-content h4 {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.video-introduction-content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.video-introduction-content h3:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.video-introduction-content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.video-introduction-content a:hover {
    text-decoration: none;
    display: inline-block;
    color: #c3b680;
    font-weight: 600;
    font-size: 24px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #005440;
    box-shadow: 10px 10px 5px rgba(44, 44, 44, 0.195);
    -moz-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0)949;
    -webkit-box-shadow: 10px 10px 5px #2c2c2c78;
    -khtml-box-shadow: 10px 10px 5px #3131315c;
}

.form-group button {
    text-decoration: none;
    display: inline-block;
    color: #005440;
    font-size: 18px;
    border: 2px solid #005440;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.form-group button:hover {
    text-decoration: none;
    display: inline-block;
    color: #c3b680;
    font-weight: 300;
    font-size: 18px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #005440;
    box-shadow: 10px 10px 5px rgba(44, 44, 44, 0.195);
    -moz-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0)949;
    -webkit-box-shadow: 10px 10px 5px #2c2c2c78;
    -khtml-box-shadow: 10px 10px 5px #3131315c;
}

.video-introduction-content-button {
    text-align: center;
}

.video-introduction-content-button a {
    text-decoration: none;
    font-size: 40px;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #005440;
}

.video-introduction-content-button a:hover {
    text-decoration: none;
    display: inline-block;
    color: #c3b680;
    font-weight: 600;
    font-size: 30px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #005440;
    box-shadow: 10px 10px 5px rgba(44, 44, 44, 0.195);
    -moz-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0)949;
    -webkit-box-shadow: 10px 10px 5px #2c2c2c78;
    -khtml-box-shadow: 10px 10px 5px #3131315c;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

/*CSS for Last Block - Video Help*/
.video-help {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: absolute;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-help-content {
    text-align: center;
}

.video-help-content p {
    font-size: 120px;
    color: #fff;
    font-weight: 600;
}

.video-help-content p {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
}

.video-last-block {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-width: 1080px) {
    .video-last-block {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 568px) {
    .video-last-block {
        width: 100%;
        height: auto;
    }
}


/*CSS for testimonial*/
.container-testi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: #fff;
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
    z-index: 10;
}

.testimonial .image {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 10;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 18px;
    font-weight: 400;
    color: #005440;
    z-index: 10;
}

.slide .quote-icon {
    font-size: 30px;
    color: #005440;
    z-index: 10;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.details .name {
    font-size: 18px;
    font-weight: 600;
    color: #005440;
    z-index: 10;
}

.details .job {
    font-size: 14px;
    font-weight: 400;
    color: red;
    z-index: 10;
}

/* swiper button css */
.nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 40%;
    transform: translateY(30px);
    transition: 0.2s;
    z-index: 10;
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: #005440;
    z-index: 10;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    background-color: #005440;
}

@media screen and (max-width: 768px) {
    .slide p {
        padding: 0 20px;
    }

    .nav-btn {
        display: none;
    }
}

/* CSS for social media*/

.wrapper-social-icon .button-social {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper-social-icon .button-social:hover {
    width: 250px;
}

.wrapper-social-icon .button-social .social-icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper-social-icon .button-social:nth-child(1):hover .social-icon {
    background: #4267B2;
}


.wrapper-social-icon .button-social:nth-child(2):hover .social-icon {
    background: #E1306C;
}

.wrapper-social-icon .button-social:nth-child(3):hover .social-icon {
    background: #ff0000;
}

.wrapper-social-icon .button-social .social-icon i,
.wrapper-social-icon .button-social .social-icon em {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper-social-icon .button-social:hover .social-icon i {
    color: #fff;
}

.wrapper-social-icon .button-social span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper-social-icon .button-social:nth-child(1) span {
    color: #4267B2;
}

.wrapper-social-icon .button-social:nth-child(2) span {
    color: #E1306C;
}

.wrapper-social-icon .button-social:nth-child(3) span {
    color: #ff0000;
}


/*CSS for text heading*/
.text-heading-background {
    background-color: white;
}

.text-heading h1 {
    margin-top: 40px;
    font-size: 60px;
    font-weight: bold;
    color: #005440;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 5px 5px 10px rgba(77, 77, 77, 0.947);
}


/*CSS for Image shadow*/
.img-fluid {
    border: 2px solid #fff;
    background: url(img/tiger.png) no-repeat;
    box-shadow: 10px 10px 5px rgba(44, 44, 44, 0.195);
    -moz-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0)949;
    -webkit-box-shadow: 10px 10px 5px #2c2c2c78;
    -khtml-box-shadow: 10px 10px 5px #3131315c;
}

/*Amination*/
/*
@keyframes slide-up {
    0% {
        transform: translateY(250px);
    }

    100% {
        transform: translateY(0px);
    }
}
*/

/*Icon For Contact Page*/

.icon {
    transition: width 0.1s, height 0.1s, transform 0.2s;
}

.icon :hover {
    padding-top: 30px;
    font-size: 130px;
}

.fa-home {
    color: #005440;
    font-size: 100px;
    padding-top: 25px;
}

.fa-home :hover {
    transform: rotate(5deg);
}

.fa-phone {
    color: #005440;
    font-size: 100px;
    padding-top: 25px;
}

.fa-envelope {
    color: #005440;
    font-size: 100px;
    padding-top: 25px;
}

.contact-icon h3 {
    color: #005440;
    font-size: 25px;
    font-weight: 600;
    padding-top: 25px;
}

.contact-icon p {
    color: black;
    font-size: 20PX;
    font-weight: 400;
}

.contact-icon h4 {
    color: #005440;
    font-size: 22px;
    font-weight: 300;
}

.contact-icon h4:hover {
    color: #c3b680;
    font-size: 25px;
    font-weight: 600;
}

/*Contact Form*/

.space80 {
    padding-top: 80px;
}

.space {
    padding-top: 30px;
}

.space15 {
    padding-top: 15px;
}

.contact-container {
    position: relative;
    width: 100%;

    box-shadow: 15px 15px 20px rgba(44, 44, 44, 0.195);
    -moz-box-shadow: 10px 10px 10px rgba(51, 51, 51, 0)949;
    -webkit-box-shadow: 10px 10px 10px #2c2c2c78;
    -khtml-box-shadow: 10px 10px 10px #3131315c;
}

.contact-wrap h3 {
    color: #005440;
    font-size: 35px;
    font-weight: 600;
    padding-top: 25px;
    text-shadow: 5px 5px 5px rgba(160, 160, 160, 0.947);
}

/* Map */
.map {
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Google Calendar */
.googleCalendar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 54%;
}

.googleCalendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 567px) {
    .googleCalendar iframe {
        top: 0;
        left: 0;
        width: 110%;
        height: 180%;
    }
}

/* Title Block*/

@media (min-width: 1367px) {
    #block-title {
        height: 800px;
        width: 100%;
        border: 3px solid #005440;
        position: relative;
        padding-top: 50px;

    }

    #block-title1 {
        height: 600px;
        width: 100%;
        border: 3px solid #000000;
        position: relative;
        padding-top: 50px;

    }

    #block-title2 {
        height: 300px;
        width: 135%;
        border: 3px solid #000000;
        position: relative;
        padding-top: 50px;

    }

    #block-title3 {
        height: 300px;
        left: -160px;
        width: 200%;
        border: 3px solid #000000;
        position: relative;
        padding-top: 50px;

    }

    #title-label {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 20px;
        height: 40px;
        width: 300px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    #title-label1 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 20px;
        height: 40px;
        width: 400px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    #title-label2 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 20px;
        height: 40px;
        width: 280px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    #title-label3 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 17%;
        height: 40px;
        width: 400px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    #title-label4 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 28%;
        height: 40px;
        width: 400px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    div.name-phone {
        font-size: 0;
    }
}



@media screen and (min-device-width: 568px) and (max-device-width: 1366px) { 

    #block-title2 {
        height: 300px;
        position: relative;
        padding-top: 30px;
        text-align: center;

    }

    #block-title3 {
        height: 300px;
     width: fit-content;
        position: relative;
        padding-top: 50px;
        text-align: center;
    }

    #title-label {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 20px;
        height: 40px;
        width: 300px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    #title-label1 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 20px;
        height: 40px;
        width: 400px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    #title-label2 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 20px;
        height: 40px;
        width: 280px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    #title-label3 {
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        position: absolute;
        top: -30px;
        left: 7%;
        height: 40px;
        width: 400px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    #title-label4 {
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        position: absolute;
        top: -30px;
        left: 10%;
        height: 40px;
        width: 400px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    div.name-phone {
        font-size: 0;
    }

    div.h3{
        font-size: 100px;
    }
    
}



@media (max-width : 567px) {
    #block-title {
        font-family: "Roboto", sans-serif;
        max-width: 100%;
        margin: 0 auto;

        position: relative;
        overflow: hidden;
        padding-top: 10.25%;
    }

    #block-title2 {
        padding-top: 60px;

    }

    div.name {
        font-size: 0;
    }

    div.name-phone {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        border-bottom: 1px solid #000000;
        border-width: 1px;
        text-shadow: 1px 4px 4px rgba(116, 116, 116, 0.947);
    }
}


/* Event CSS*/

.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

.event-container .event {
    box-shadow: 15px 15px 20px -10px rgba(12, 12, 12, 0.4);
    display: flex;
    border-radius: 20px;
    margin: 32px 0;
}

.event .event-left {
    background: #005440;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .event-left-past {
    background: #c3b680;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .event-left .date {
    font-size: 20px;
}


.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    padding-bottom: 10px;

}

.event .event-right h3.event-title {
    font-weight: 600;
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: #005440;
    text-transform: uppercase;
}

.event .event-right .event-timing {
    background: #fff8ba;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
}

.event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
}

@media (max-width: 550px) {
    .event {
        flex-direction: column;
    }

    .event-container .event-right {
        padding-left: 10px;
        padding-right: 10px;
    }

    .event .event-right h3.event-title {
        font-weight: 600;
        font-size: 20px;
        margin: 10px 0 5px 0;
        color: #005440;
        text-transform: uppercase;
    }

    .event .event-left {
        border-radius: 8px 8px 0 0;
    }

    .event .event-left-past {
        border-radius: 8px 8px 0 0;
    }

    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
        display: inline-block;
        font-size: 18px;
    }

    .event .event-left .event-date {
        padding: 3px 0;
    }
}

/* End event CSS */

/*text responsive*/
@media (min-width: 568px) {
    .text-heading h2 {
        color: black;
    }

    h2.title {
        font-size: 50px;
    }

    .text-heading p {
        font-size: 30px;
    }
}

@media (max-width: 567px) {
    .text-heading h2 {
        color: black;
    }

    h2.title {
        font-size: 40px;
    }

    .text-heading p {
        font-size: 20px;
    }
}

/* background-block for Welcome page*/


.background-block1 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
    height: 150px;
    text-align: center;
}

@media (min-width: 568px) {
    .column h2 {
        color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
    }

    h2 {
        font-size: 60px;
    }

    .background-block {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 567px) {
    .column h2 {
        color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
    }

    h2 {
        font-size: 40px;
    }

    div.recruitment-button {
        font-size: 30px;
    }

    .background-block1 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}

/*button*/
.recruitment-button a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    color: #ffffff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #005440;
    text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
}

.recruitment-button a:hover {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    color: #ffffff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #c3b680;
    text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
}

/*Up coming event at Homepage*/
/* Title Block*/
@media (min-width: 568px) {
    #block-title {
        height: 950px;
        width: 100%;
        position: relative;
        padding-top: 50px;

    }

    #title-label {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 20px;
        height: 40px;
        width: 300px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    #title-label1 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 20px;
        height: 40px;
        width: 400px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    #title-label2 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 20px;
        height: 40px;
        width: 280px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }



    div.name-phone {
        font-size: 0;
    }
}

@media (max-width : 567px) {
    #block-title {
        font-family: "Roboto", sans-serif;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        padding-top: 10.25%;
        height: 500px;
    }



    div.name {
        font-size: 0;
    }

    div.name-phone {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        border-bottom: 1px solid #000000;
        border-width: 1px;
        text-shadow: 1px 4px 4px rgba(116, 116, 116, 0.947);
    }

}

/*Events in homepage*/
@media (min-width: 568px) {
    div.name-events {
        font-size: 50px;
        font-weight: 600;
    }

    div.name-phone {
        font-size: 0px;
    }
}

@media (max-width: 567px) {
    div.name-phone {
        font-size: 35px;
        font-weight: 600;
    }

    div.name-events {
        font-size: 0px;
    }

    div.central {
        width: 95%;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        box-shadow: gray;
    }

    div.card {
        width: 100%;
    }
}

/*column responsive*/
.col-responsive {
    display: flex;
    flex-wrap: wrap;
}

.col-responsive>* {
    padding: 1rem;
}


/*Donate button*/

@media (min-width:568px) {
    .col-responsive {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .col-responsive h2 {
        color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
    }

    .col-responsive div {
        color: #fff;
        text-align: center;
        font-size: 25px;
    }

    .donate-button a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        display: inline-block;
        color: #ffffff;
        padding: 14px 70px;
        margin-top: 20px;
        background-color: #005440;
        text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
        align-items: center;
    }

    .recruitment-button1 a {
        font-size: 0px;
    }

    .recruitment-button2 a {
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;
        display: inline-block;
        color: #ffffff;
        padding: 14px 70px;
        border-radius: 50px;
        margin-top: 20px;
        background-color: #005440;
        text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
    }

    .recruitment-button2 a:hover {
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        display: inline-block;
        color: #ffffff;
        padding: 14px 70px;
        border-radius: 50px;
        margin-top: 20px;
        background-color: #c3b680;
        text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
    }

}

@media (max-width: 567px) {
    .col-responsive h2 {
        color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
    }

    h2 {
        font-size: 40px;
    }

    .recruitment-button a {
        font-size: 20px;
    }

    .recruitment-button a:hover {
        font-size: 20px;
    }

    .col-responsive div.check {
        color: #fff;
        text-align: center;
        font-size: 25px;
    }

    .col-responsive div.online {
        font-size: 0px;
    }

    .recruitment-button a.hello {
        opacity: 0;
    }

    .recruitment-button1 a.online-button {
        opacity: 1;
    }

    .recruitment-button1 a {
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;
        display: inline-block;
        color: #ffffff;
        padding: 14px 70px;
        border-radius: 50px;
        margin-top: 20px;
        background-color: #005440;
        text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
    }

    .recruitment-button1 a:hover {
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        display: inline-block;
        color: #ffffff;
        padding: 14px 70px;
        border-radius: 50px;
        margin-top: 20px;
        background-color: #c3b680;
        text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
    }

    .recruitment-button2 a {
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;
        display: inline-block;
        color: #ffffff;
        padding: 14px 70px;
        border-radius: 50px;
        margin-top: 20px;
        background-color: #005440;
        text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
    }

    .recruitment-button2 a:hover {
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        display: inline-block;
        color: #ffffff;
        padding: 14px 70px;
        border-radius: 50px;
        margin-top: 20px;
        background-color: #c3b680;
        text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);
    }
}

@media (min-width: 568px) {
    h1.team-member {
        font-size: 120px;
        color: #fff;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.947);
    }
}

@media (max-width: 567px) {
    h1.team-member {
        font-size: 60px;
        font-weight: 500;
        color: #fff;
        text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.947);
        padding-top: 20px;
    }
}

/*CSS Team Member*/
.team-item {
    padding: 25px;
    padding-right: 0px;
    position: relative;
    z-index: 0;
    margin: 0 auto;
}

.team-item:after,
.team-item:before {
    content: "";
    position: absolute;
    -webkit-box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
    box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
    border-radius: 10px;
    z-index: -1;
}

.team-item:before {
    height: 100%;
    background-color: #fff;
    left: 0;
    top: 0;
    right: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.team-item:after {
    height: 6px;
    width: calc(100% - 30px);
    background-color: #005440;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.team-item:hover:after {
    height: 100%;
}

.team-item .img-holder {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.2);
    box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.2);
    border-radius: 10px;
    width: calc(100% - 70px);
    height: auto;
    overflow: hidden;
}

.team-item .img-holder img {
    border-radius: 10px;
    width: 100%;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.team-item:hover .img-holder img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.team-item .socials {
    position: absolute;
}

.team-item .socials a {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
    -webkit-box-shadow: 3px 3px 2px 0 rgb(0, 0, 0);
    box-shadow: 3px 3px 2px 0 rgb(0, 0, 0);
}

.team-item .socials a:last-of-type {
    margin-bottom: 0;
}

.team-item .team-content {
    margin-right: 70px;
    text-align: center;
}

.team-item .team-content h5 {
    color: #005440;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.team-item .team-content p {
    color: #005440;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-weight: 600;
    font-size: 14px;
}

.team-item:hover .team-content h5,
.team-item:hover .team-content p {
    color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.d-inline-block {
    display: inline-block !important;
}

.socials a {
    width: 35px;
    height: 35px;
    background-color: #005440;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 2px 0 #414141;
    box-shadow: 0 3px 2px 0 #424242;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    font-size: 16px;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mb-2,
.my-2 {
    margin-bottom: .5rem !important;
}

h5 {
    font-size: 21px;
}

.mb-30 {
    margin-bottom: 30px;
}

/*CSS for Login page*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-decoration: none;
}

img {
    border: none;
}

*:focus {
    outline: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bg-illustration {
    position: relative;
    height: 100vh;
    width: 1194px;
    background: url("https://dxbhsrqyrr690.cloudfront.net/sidearm.nextgen.sites/hornetsports.com/images/2023/5/4/23_Johnson_web.jpg") no-repeat center center scroll;
    background-size: cover;
    float: left;
    -webkit-animation: bgslide 2.3s forwards;
    animation: bgslide 2.3s forwards;
}

.bg-illustration img {
    width: 248px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: auto;
    margin: 19px 0 0 25px;
}

@-webkit-keyframes bgslide {
    from {
        left: -100%;
        width: 0;
        opacity: 0;
    }

    to {
        left: 0;
        width: 1194px;
        opacity: 1;
    }
}

@keyframes bgslide {
    from {
        left: -100%;
        width: 0;
        opacity: 0;
    }

    to {
        left: 0;
        width: 1194px;
        opacity: 1;
    }
}


.login {
    max-height: 100vh;
    overflow-Y: auto;
    float: left;
    margin: 0 auto;
    width: calc(100% - 1194px);
}

.login .container {
    width: 505px;
    margin: 0 auto;
    position: relative;
}

.login .container h1 {
    margin-top: 100px;
    font-size: 35px;
    font-weight: bolder;
}

.login .container .login-form {
    margin-top: 112px;
}

.login .container .login-form form {
    display: -ms-grid;
    display: grid;
}

.login .container .login-form form input {
    font-size: 16px;
    font-weight: normal;
    background: rgba(57, 57, 57, 0.07);
    margin: 12.5px 0;
    height: 68px;
    border: none;
    padding: 0 30px;
    border-radius: 10px;
}

.login .container .login-form form button[type=submit] {
    background: -webkit-linear-gradient(110deg, #005440 0%, #005440 100%);
    background: -o-linear-gradient(110deg, #005440 0%, #005440 100%);
    background: linear-gradient(-20deg, #005440 0%, #005440 100%);
    border: none;
    margin-top: 124px;
    margin-bottom: 20px;
    width: 241px;
    height: 58px;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 20px;
}

.login .container .login-form form button[type=submit]:hover::after {
    opacity: 1;
}

.login .container .login-form form button[type=submit]::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#537895));
    background: -webkit-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background: -o-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.login .container .remember-form {
    position: relative;
    margin-top: -30px;
}

.login .container .remember-form input[type=checkbox] {
    margin-top: 9px;
}

.login .container .remember-form span {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 32px;
    color: #3B3B3B;
    margin-left: 15px;
}

.login .container .forget-pass {
    position: absolute;
    right: 0;
    margin-top: 189px;
}

.login .container .forget-pass a {
    font-size: 16px;
    position: relative;
    font-weight: normal;
    color: #918F8F;
}

.login .container .forget-pass a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100px;
    background: -webkit-linear-gradient(110deg, #005440 0%, #005440 100%);
    background: -o-linear-gradient(110deg, 005440 0%, #005440 100%);
    background: linear-gradient(-20deg, 005440 0%, #005440 100%);
    bottom: -4px;
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    right: 0;
}

.login .container .forget-pass a:hover::after {
    opacity: 1;
}

@media only screen and (min-width: 1024px) and (max-width: 1680px) {
    .bg-illustration {
        width: 50%;
        -webkit-animation: none;
        animation: none;
    }

    .login {
        width: 50%;
    }
}

/* Display 12", iPad PRO Portrait, iPad landscape */
@media only screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    @-webkit-keyframes slideIn {
        from {
            left: -100%;
            opacity: 0;
        }

        to {
            left: 0;
            opacity: 1;
        }
    }

    @keyframes slideIn {
        from {
            left: -100%;
            opacity: 0;
        }

        to {
            left: 0;
            opacity: 1;
        }
    }

    .bg-illustration {
        float: none;
        background: url("https://hornetsports.com/images/2023/4/30/23_2V8_WIRA.jpg?width=1416&height=797&mode=crop&scale=both&format=jpg&quality=80") center center;
        background-size: cover;
        -webkit-animation: slideIn 0.8s ease-in-out forwards;
        animation: slideIn 0.8s ease-in-out forwards;
        width: 100%;
        height: 190px;
        text-align: center;
    }

    .bg-illustration img {
        width: 100px;
        height: auto;
        margin: 20px auto !important;
        text-align: center;
    }

    .login {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .login .container {
        -webkit-animation: slideIn 0.8s ease-in-out forwards;
        animation: slideIn 0.8s ease-in-out forwards;
        width: 85%;
        float: none;
    }

    .login .container h1 {
        font-size: 25px;
        margin-top: 40px;
    }

    .login .container .login-form {
        margin-top: 90px;
    }

    .login .container .login-form form input {
        height: 45px;
    }

    .login .container .login-form form button[type=submit] {
        height: 45px;
        margin-top: 100px;
    }

    .login .container .login-form .remember-form {
        position: relative;
        margin-top: -14px;
    }

    .login .container .login-form .remember-form span {
        font-size: 16px;
        margin-top: 22px;
        top: inherit;
    }

    .forget-pass {
        position: absolute;
        right: inherit;
        left: 0;
        bottom: -40px;
        margin: 0 !important;
        text-align: center;
    }

    .forget-pass a {
        font-size: 16px;
        position: relative;
        font-weight: normal;
        color: #918F8F;
        text-align: center;
    }

    .forget-pass a::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        border-radius: 100px;
        background: -webkit-linear-gradient(110deg, #005440 0%, #005440 100%);
        background: -o-linear-gradient(110deg, #005440 0%, #005440 100%);
        background: linear-gradient(-20deg, #005440 0%, #005440 100%);
        bottom: -4px;
        left: 0;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        opacity: 0;
        right: 0;
        text-align: center;
    }

    .forget-pass a:hover::after {
        opacity: 1;
        text-align: center;
    }
}


/*CSS for Admin Portal*/
.row label{
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 18px;
}
.row h4{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 22px;
    font-weight: 500;
}

.row form{
    padding-right: 20px;
    padding-left: 20px;
}

/*Add narrow to dropdown list*/
select.form-control { 
    -webkit-appearance: menulist; 
}

.card img{
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
    box-shadow: 10px 10px 5px rgba(44, 44, 44, 0.195);
    -moz-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0)949;
    -webkit-box-shadow: 10px 10px 5px #2c2c2c78;
    -khtml-box-shadow: 10px 10px 5px #3131315c;
}

.card-body{
    text-align: center;
}
