/*CSS for Video introduction or Introduction*/
.video-introduction {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-introduction-content {
    text-align: center;
}

.banner-introduction-content h1 {
    font-size: 120px;
    color: #005440;
    font-weight: 600;
    text-shadow: 5px 5px 5px rgba(12, 12, 12, 0.947);

}

.banner-introduction-content h1:hover {
    -webkit-text-stroke: 2px #005440;
    color: transparent;
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0)
}

.video-introduction-content {
    text-align: center;
}

.video-introduction-content h1 {
    font-size: 120px;
    color: #fff;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .video-introduction-content h1 {
        font-size: 70px;
        color: #fff;
        font-weight: 600;
    }
}

/* Text banner responsive */
h1.hero-heading {
    font-size: 120px;
    font-weight: bold;
}

@media (max-width: 768px) {
    h1.hero-heading {
        font-size: 60px;
    }
}

.video-introduction-content h4 {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.video-introduction-content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.video-introduction-content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.video-introduction-content a:hover {
    text-decoration: none;
    display: inline-block;
    color: #c3b680;
    font-weight: 600;
    font-size: 24px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #005440;
    box-shadow: 10px 10px 5px rgba(44, 44, 44, 0.195);
    -moz-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0)949;
    -webkit-box-shadow: 10px 10px 5px #2c2c2c78;
    -khtml-box-shadow: 10px 10px 5px #3131315c;
}

.form-group button {
    text-decoration: none;
    display: inline-block;
    color: #005440;
    font-size: 18px;
    border: 2px solid #005440;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.form-group button:hover {
    text-decoration: none;
    display: inline-block;
    color: #c3b680;
    font-weight: 300;
    font-size: 18px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #005440;
    box-shadow: 10px 10px 5px rgba(44, 44, 44, 0.195);
    -moz-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0)949;
    -webkit-box-shadow: 10px 10px 5px #2c2c2c78;
    -khtml-box-shadow: 10px 10px 5px #3131315c;
}

.video-introduction-content-button {
    text-align: center;
}

.video-introduction-content-button a {
    text-decoration: none;
    display: inline-block;
    color: #005440;
    font-size: 24px;
    border: 2px solid #005440;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.video-introduction-content-button a:hover {
    text-decoration: none;
    display: inline-block;
    color: #c3b680;
    font-weight: 600;
    font-size: 24px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: #005440;
    box-shadow: 10px 10px 5px rgba(44, 44, 44, 0.195);
    -moz-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0)949;
    -webkit-box-shadow: 10px 10px 5px #2c2c2c78;
    -khtml-box-shadow: 10px 10px 5px #3131315c;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

/*CSS for Last Block - Video Help*/
.video-help {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: absolute;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-help-content {
    text-align: center;
}

.video-help-content p {
    font-size: 120px;
    color: #fff;
    font-weight: 600;
}

.video-help-content p {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
}

.video-last-block {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-width: 1080px) {
    .video-last-block {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 568px) {
    .video-last-block {
        width: 100%;
        height: auto;
    }
}


/*CSS for testimonial*/
.container-testi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: #fff;
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
    z-index: 10;
}

.testimonial .image {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 10;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 18px;
    font-weight: 400;
    color: #005440;
    z-index: 10;
}

.slide .quote-icon {
    font-size: 30px;
    color: #005440;
    z-index: 10;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.details .name {
    font-size: 18px;
    font-weight: 600;
    color: #005440;
    z-index: 10;
}

.details .job {
    font-size: 14px;
    font-weight: 400;
    color: red;
    z-index: 10;
}

/* swiper button css */
.nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 40%;
    transform: translateY(30px);
    transition: 0.2s;
    z-index: 10;
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: #005440;
    z-index: 10;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    background-color: #005440;
}

@media screen and (max-width: 768px) {
    .slide p {
        padding: 0 20px;
    }

    .nav-btn {
        display: none;
    }
}

/* CSS for social media*/

.wrapper-social-icon .button-social {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper-social-icon .button-social:hover {
    width: 250px;
}

.wrapper-social-icon .button-social .social-icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper-social-icon .button-social:nth-child(1):hover .social-icon {
    background: #4267B2;
}


.wrapper-social-icon .button-social:nth-child(2):hover .social-icon {
    background: #E1306C;
}

.wrapper-social-icon .button-social:nth-child(3):hover .social-icon {
    background: #ff0000;
}

.wrapper-social-icon .button-social .social-icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper-social-icon .button-social:hover .social-icon i {
    color: #fff;
}

.wrapper-social-icon .button-social span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper-social-icon .button-social:nth-child(1) span {
    color: #4267B2;
}

.wrapper-social-icon .button-social:nth-child(2) span {
    color: #E1306C;
}

.wrapper-social-icon .button-social:nth-child(3) span {
    color: #ff0000;
}


/*CSS for text heading*/
.text-heading-background {
    background-color: white;
}

.text-heading h1 {
    margin-top: 40px;
    font-size: 60px;
    font-weight: bold;
    color: #005440;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 5px 5px 10px rgba(77, 77, 77, 0.947);
}


/*CSS for Image shadow*/
.img-fluid {
    border: 2px solid #fff;
    background: url(img/tiger.png) no-repeat;
    box-shadow: 10px 10px 5px rgba(44, 44, 44, 0.195);
    -moz-box-shadow: 10px 10px 5px rgba(51, 51, 51, 0)949;
    -webkit-box-shadow: 10px 10px 5px #2c2c2c78;
    -khtml-box-shadow: 10px 10px 5px #3131315c;
}

/*Amination*/
/*
@keyframes slide-up {
    0% {
        transform: translateY(250px);
    }

    100% {
        transform: translateY(0px);
    }
}
*/

/*Icon For Contact Page*/

.icon {
    transition: width 0.1s, height 0.1s, transform 0.2s;
}

.icon :hover {
    padding-top: 30px;
    font-size: 130px;
}

.fa-home {
    color: #005440;
    font-size: 100px;
    padding-top: 25px;
}

.fa-home :hover {
    transform: rotate(5deg);
}

.fa-phone {
    color: #005440;
    font-size: 100px;
    padding-top: 25px;
}

.fa-envelope {
    color: #005440;
    font-size: 100px;
    padding-top: 25px;
}

.contact-icon h3 {
    color: #005440;
    font-size: 25px;
    font-weight: 600;
    padding-top: 25px;
}

.contact-icon p {
    color: black;
    font-size: 20PX;
    font-weight: 400;
}

.contact-icon h4 {
    color: #005440;
    font-size: 22px;
    font-weight: 300;
}

.contact-icon h4:hover {
    color: #c3b680;
    font-size: 25px;
    font-weight: 600;
}

/*Contact Form*/

.space80 {
    padding-top: 80px;
}

.space {
    padding-top: 30px;
}

.space15 {
    padding-top: 15px;
}

.contact-container {
    position: relative;
    width: 100%;

    box-shadow: 15px 15px 20px rgba(44, 44, 44, 0.195);
    -moz-box-shadow: 10px 10px 10px rgba(51, 51, 51, 0)949;
    -webkit-box-shadow: 10px 10px 10px #2c2c2c78;
    -khtml-box-shadow: 10px 10px 10px #3131315c;
}

.contact-wrap h3 {
    color: #005440;
    font-size: 35px;
    font-weight: 600;
    padding-top: 25px;
    text-shadow: 5px 5px 5px rgba(160, 160, 160, 0.947);
}

/* Map */
.map {
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Google Calendar */
.googleCalendar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 54%;
}

.googleCalendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 767px) {
    .googleCalendar iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Title Block*/

@media (min-width: 568px){
    #block-title {
        height: 800px;
        width: 100%;
        border: 3px solid #005440;
        position: relative;
        padding-top: 50px;
    
    }

    #block-title1 {
        height: 600px;
        width: 100%;
        border: 3px solid #000000;
        position: relative;
        padding-top: 50px;
    
    }
    
    #title-label {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 20px;
        height: 40px;
        width: 300px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    #title-label1 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 20px;
        height: 40px;
        width: 400px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }

    #title-label2 {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;
        position: absolute;
        top: -30px;
        left: 20px;
        height: 40px;
        width: 280px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 3px 4px 4px rgba(129, 129, 129, 0.947);
    }



    div.name-phone{
        font-size: 0;
    }
}

@media (max-width : 567px) {
    #block-title {
        font-family: "Roboto", sans-serif;
        max-width: 100%;
        margin: 0 auto;

        position: relative;
        overflow: hidden;
        padding-top: 10.25%;
    }

    
    div.name{      
        font-size: 0;
    }

    div.name-phone{
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        border-bottom: 1px solid #000000;
        border-width: 1px;
        text-shadow: 1px 4px 4px rgba(116, 116, 116, 0.947);
    }
}
/* Event CSS*/

.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 500px;
    margin: 0 auto;
}

.event-container .event {
    box-shadow: 15px 15px 20px -10px rgba(12, 12, 12, 0.4);
    display: flex;
    border-radius: 20px;
    margin: 32px 0;
}

.event .event-left {
    background: #005440;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .event-left-past{
    background: #c3b680;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.event .event-left .date {
    font-size: 20px;
}


.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    padding-bottom: 10px;

}

.event .event-right h3.event-title {
    font-weight: 600;
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: #005440;
    text-transform: uppercase;
}

.event .event-right .event-timing {
    background: #fff8ba;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
}

.event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
}

@media (max-width: 550px) {
    .event {
        flex-direction: column;
    }

    .event-container .event-right {
        padding-left: 10px;
        padding-right: 10px;
    }

    .event .event-right h3.event-title {
        font-weight: 600;
        font-size: 20px;
        margin: 10px 0 5px 0;
        color: #005440;
        text-transform: uppercase;
    }

    .event .event-left {
        border-radius: 8px 8px 0 0;
    }

    .event .event-left-past{
        border-radius: 8px 8px 0 0;
    }

    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
        display: inline-block;
        font-size: 18px;
    }

    .event .event-left .event-date {
        padding: 3px 0;
    }
}

/* End event CSS */
