{% extends 'base.html' %}

{% block title %}
	Rowing Club Website Templates Demo
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
	<h1>About The CSUS Rowing Club</h1>
</div>
<br>

<div class="container-fluid bg-2 text-center" >
  <h3>Who Are We?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<br>

<div class="container-fluid bg-2 text-center">
  <h3>What Do We Do?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<br>

<div class="container-fluid bg-2 text-center">
  <h3>How To Contact Us?</h3>
  <p>Commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Sodales ut eu sem integer vitae justo eget. Tristique senectus et netus et. Fermentum leo vel orci porta non pulvinar neque laoreet.</p>
</div>
<br>

<div class="container-fluid bg-2 text-center">
  <h3>Blah Blah More Info.</h3>
	<p>Dictum fusce ut placerat orci nulla pellentesque. Aliquet lectus proin nibh nisl condimentum. Dictum varius duis at consectetur lorem donec massa sapien. Ultricies mi quis hendrerit dolor. Et tortor at risus viverra adipiscing at in tellus integer.</p>
</div>
<br>
{% endblock %}
