{% extends 'base.html' %}

{% block title %}
About - Rowing Club
{% endblock %}

{% block body %}

<!-- Background Color -->
<head>
	<style>
		body {
			background-color: #c3b680;
		}

		.smashinglogo {
			background: url(https://cdn.discordapp.com/attachments/1069818501621088296/1098754543271022732/Banner2.jpg);
			background-size: cover;
			background-position: center;
			height: 400px;
		}
	</style>
</head>


<!--About US Introduction Banner-->
<section id="first" class="story" data-speed="8" data-type="background">
	<div class="smashinglogo" data-offsetY="100" data-Xposition="50%" data-speed="-2">

		<div class="banner-introduction-content" data-aos="fade-up" data-aos-duration="1000">
			<div class="space80"></div>
			<div class="space80"></div>
			<h1 class="hero-heading">About Us</h1>
		</div>
	</div>
</section>

<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-6">
				<p style="font-size: 22px;" data-aos="fade-right" data-aos-duration="1000"> 
					&#x2022; Since 1984 the Sacramento State Men's Rowing team has competed
					against universities
					from all over the country. As part of the Western Intercollegiate Rowing Association, the
					team has won multiple conference championships in the Varsity 8. They also have had
					championship boats in several other events during the team’s history.
				</p>
				<p style="font-size: 22px;" data-aos="fade-left" data-aos-duration="1000"> &#x2022; The members of this
					team throughout history pride themselves on hard work, dedication, and commitment to
					a common goal. (Competition & Practice Schedules with be added soon) In 2021, the club
					transitioned to become the Rowing Club, now offering both men’s and women’s rowing.
				</p>
			</div>
			<div class="col-md-6" data-aos="fade-down" data-aos-duration="1000">
				<img class="img-fluid rounded w-100" src="./static/img/p5.jpeg">
			</div>
		</div>
	</div>
</div>

<!-- End of "About Us" Title + Card with description -->


<!-- "Meet the Officers!" Title + Cards with pictures and description -->
<div class="text-heading mx-auto">
	<h1>Meet The Officers!</h1>
</div>

<div class="container-fluid">
	<div class="row row-cols-4 row-cols-sm-4 g-lg-1">
		<div class="col-4">
			<div class="card mb-3 green_back_gold_front">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="https://cdn.discordapp.com/attachments/1069818501621088296/1093080715303854110/depositphotos_46562679-stock-photo-happy-man-with-white-teeth.jpg"
							class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="card mb-4 green_back_gold_front">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="https://cdn.discordapp.com/attachments/1069818501621088296/1093080715303854110/depositphotos_46562679-stock-photo-happy-man-with-white-teeth.jpg"
							class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="card mb-4 green_back_gold_front">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="https://cdn.discordapp.com/attachments/1069818501621088296/1093080715303854110/depositphotos_46562679-stock-photo-happy-man-with-white-teeth.jpg"
							class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="card mb-4 green_back_gold_front">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="https://cdn.discordapp.com/attachments/1069818501621088296/1093080715303854110/depositphotos_46562679-stock-photo-happy-man-with-white-teeth.jpg"
							class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="card mb-4 green_back_gold_front">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="https://cdn.discordapp.com/attachments/1069818501621088296/1093080715303854110/depositphotos_46562679-stock-photo-happy-man-with-white-teeth.jpg"
							class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="card mb-4 green_back_gold_front">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="https://cdn.discordapp.com/attachments/1069818501621088296/1093080715303854110/depositphotos_46562679-stock-photo-happy-man-with-white-teeth.jpg"
							class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="card mb-4 green_back_gold_front">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="https://cdn.discordapp.com/attachments/1069818501621088296/1093080715303854110/depositphotos_46562679-stock-photo-happy-man-with-white-teeth.jpg"
							class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="card mb-4 green_back_gold_front">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="https://cdn.discordapp.com/attachments/1069818501621088296/1093080715303854110/depositphotos_46562679-stock-photo-happy-man-with-white-teeth.jpg"
							class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
								additional content. This content is a little bit longer.</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of "Meet the Officers!" Title + Cards with pictures and description -->
</div>

<!-- db test -->
<div class="container">
	<hr/>
	<div class="row">
		<h2>Officers: </h2>
	{% for tup in officers %}
	<h5> {{ tup[0] }}</h5>
		<img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Quite_the_happy_dog.jpg" 
			alt="Officer 1 Image" 
			class ="img-fluid rounded-start"
			style="display:block; max-width:180px; max-height:180px; width:auto; height:auto;"
		/>
		<p>{{ tup[1] }}</p>
	{% endfor %}
	</div>
	<hr/>
</div>


<!--Amination-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
	AOS.init();
</script>
{% endblock %}