{% extends 'base.html' %}

{% block title %}
Admin Page
{% endblock %}

{% block body %}


{% block custom_head %}

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script type="text/javascript" src="../static/js/tinymce/tinymce.min.js"></script>
	<script type="text/javascript" src="../static/js/admin.js"></script>

	<script type="text/javascript">
		tinymce.init({
			selector: "#content",
			plugins: ['link', 'image', 'code'],
			toolbar: 'bold italic backcolor | alignleft aligncenter alignright alignjustify | code',
			images_upload_url: '/uploadimage',
			images_reuse_filename: false
		});
	</script>

<style>
	body {
		background-color: #d8d2b8;
	}

		/* Solid border for dividers*/
		hr.my_solid_hr {
			border-top: 5px solid #000;
			border-color: black;
			background-color: black;
			color: black;
		}
		
		/* Footer removal */
		footer {
				display: none;
		}
	</style>


<script type="text/javascript" src="../static/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
	tinymce.init({
		selector: "#content",
		plugins: ['link', 'image', 'code'],
		toolbar: 'bold italic backcolor | alignleft aligncenter alignright alignjustify | code',
		images_upload_url: '/uploadimage',
		images_reuse_filename: false,
		extended_valid_elements : 'i[class],strong,br,em'
	});

</script>

{% endblock %}

<div id="admin-variable" class="jumbotron text-center">
	<h1> <strong>Admin Portal</strong></h1>
</div>

<!-- Script for displaying tabs and saving tab state -->
<!-- https://www.w3schools.com/w3css/w3css_tabulators.asp-->
<script>
	window.onload = Loader;

	//Selected Tab
	function openTab(tabName, btnID) {
		var i;
		var x = document.getElementsByClassName("tab");

		for (i = 0; i < x.length; i++) {
			x[i].style.display = "none";
		}

		var x = document.getElementsByClassName("w3-button");
		for (i = 0; i < x.length; i++) {
			x[i].style.background = "#043927";
		}

		document.getElementById(tabName).style.display = "block";
		document.getElementById(btnID).style.background = "red";

		localStorage.setItem('activeTab', tabName);
		localStorage.setItem('activeBtn', btnID);
	}

	function Loader() {
		str = localStorage.getItem('activeTab');
		str2 = localStorage.getItem('activeBtn');

		switch (str) {
			case 'Alumni':
			case 'TeamMembers':
			case 'Officers':
			case 'Testimonials':
			case 'Content':
			case 'SocialLinks':
				openTab(str,str2);
				break;
			default:
				alert("no value");
		}
	}

</script>

<!--tabs + person lists-->
<div onload="Loader()"></div>

<div class="container">
	<hr />
	<div class="row">

		<div class="col-4">
			<div class="card mb-2 green_back_gold_front">
				<div class="row g-0">
					<h4>Current Member List: </h4>
					<select id="memberList" class="form-select-lg card mb-2 green_back_gold_front"
						onclick="memberSelect()" size="10" aria-label="Size 10 select example">
						{% for tup in team_members %}
						<option value="{{ team_members[loop.index - 1] }}">{{ tup[0] }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="card mb-2 green_back_gold_front">
				<div class="row g-0">
					<h4>Current Officer List: </h4>
					<select id="officerList" class="form-select-lg card mb-2 green_back_gold_front"
						onclick="officerSelect()" ; size="10" multiple aria-label="Multiple select example">
						{% for tup in officers %}
						<option value="{{ officers[loop.index - 1] }}">{{ tup[0] }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="card mb-2 green_back_gold_front">
				<div class="row g-0">
					<h4>Current Testimonial List: </h4>
					<select id="testimonialList" class="form-select-lg card mb-2 green_back_gold_front" size="10"
						onclick="testimonialSelect()" ; aria-label="Size 10 select example">
						{% for tup in testimonial %}
						<option value="{{ testimonial[loop.index - 1] }}">{{ tup[0] }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>
	<hr />
</div>

<!--tab field-->
<div class="container-fluid">
	<!--<div class="w3-bar w3-black">-->
	<div class="w3-bar green_back_gold_front" style="font-size: 18px;">
		<button class="w3-bar-item w3-button" id="team-tab" onclick="openTab('TeamMembers','team-tab')">
			Team Members</button>
		<button class="w3-bar-item w3-button" id="officers-tab"
			onclick="openTab('Officers','officers-tab')">Officers</button>
		<button class="w3-bar-item w3-button" id="testimonials-tab"
			onclick="openTab('Testimonials','testimonials-tab')">Testimonials</button>
		<button class="w3-bar-item w3-button" id="content-block-tab" onclick="openTab('Content','content-block-tab')">
			Content Blocks</button>
		<button class="w3-bar-item w3-button tablink" id="sociallinks-block-tab" onclick="openTab('SocialLinks','sociallinks-block-tab')"> Social Links</button>
		<a href="logout" style="position: absolute; right: 14px; font-weight: 500; font-size: 20px;"
			class="btn btn-outline-dark green_back_gold_front_lightened" role="button"> Logout </a>
	</div>

	<!-- Team Members tab -->
	<div id="TeamMembers" class="w3-container tab tabname" style="display:active">
		<div class="space"></div>
		<div class="row row-cols-4 row-cols-sm-3 g-lg-1">

			<!-- form to delete players by name-->
			<div class="col-4">
				<div class="card mb-2 green_back_gold_front">
					<div class="row g-0">
						<h4>Specify team members to delete here: </h4>
						<div class="space15"></div>
						<form method="POST">
							<label for="deleteteam">Member's Name:</label><br>
							<select name="deleteteam" id="deleteteam-id" class="form-control" onclick="memberSelect()">
								{% for tup in team_members %}
								<option value="{{ tup[0] }}">{{ tup[0] }}</option>
								{% endfor %}
							</select>
							<div class="space"></div>
							<input type="submit" id='delete-team-button-id' name='delete-team-button'
								value="Delete Team Member" class="btn btn-outline-dark green_back_gold_front_lightened">
						</form>
						<div class="space"></div>
					</div>
				</div>
			</div>

			<!-- form to add players -->
			<div class="col-4">
				<div class="card mb-2 green_back_gold_front">
					<div class="row g-0">
						<h4>Specify players to add to team members: </h4>
						<div class="space15"></div>
						<form method="POST" id="team-add-form-id" name="team-add-form-id" enctype="multipart/form-data">
							<label for="addname">Team Member's Name:</label><br>
							<input type="text" id="team-name-id" name="team-name" placeholder="John Doe"
								class="form-control"><br>
							<label for="desc">Member's Description:</label><br>
							<input type="text" id="team-player-desc-id" name="team-player-desc"
								placeholder="... player description here ..." class="form-control"><br>
							<label for="desc">Role Description:</label><br>
							<input type="text" id="team-role-desc-id" name="team-role-desc"
								placeholder="... role description here ... ex.(role 1)" class="form-control"><br>
							<label for="file">Team Member's Picture: (Best 300x450)</label><br>
							<input type="file" id="team-file-id" name="team-file" class="form-control">
							<div class="space"></div>
							<input type="submit" id='team-button-id' name='team-button' value="Add Team Member"
								class="btn btn-outline-dark green_back_gold_front_lightened">
						</form>
						<div class="space"></div>
					</div>
				</div>
			</div>

			<!--selection-->
			<div class="container">
				<div class="col-16">
					<div class="card mb-2 green_back_gold_front">
						<h4 style="text-align: center;">Member Selected:</h4>
						<img id="memberImage" src="/static/image_uploads/No Photo.jpg" class="card-img-top"
							alt="'s profile photo">
						<div class="card-body">
							<h5 id="memberTitle" class="card-title">Nothing selected!</h5>
							<p id="memberDesc" class="card-text">Choose an entry from the above dropdown menus.</p>
							<p id="memberRole" class="card-text"><small class="text-muted">Role name here.</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- Officers tab -->
	<div id="Officers" class="w3-container tab tabname" style="display:none">
		<div class="space"></div>
		<div class="row row-cols-4 row-cols-sm-3 g-lg-1">

			<!-- form to delete officers by name-->
			<div class="col-4">
				<div class="card mb-2 green_back_gold_front">
					<div class="row g-0">
						<h4>Specify officers to delete here: </h4>
						<div class="space15"></div>
						<form method="POST">
							<label for="deleteofficers">Officer's Name:</label><br>
							<select name="deleteofficers" id="deleteofficers-id" class="form-control">
								{% for tup in officers %}
								<option value="{{ tup[0] }}">{{ tup[0] }}</option>
								{% endfor %}
							</select>
							<div class="space"></div>
							<input type="submit" id='delete-officers-button-id' name='delete-officers-button'
								value="Delete Officers" class="btn btn-outline-dark green_back_gold_front_lightened">
						</form>
					<div class="space"></div>
				</div>
			</div>
		</div>

			<!-- form to add officers -->
			<div class="col-4">
				<div class="card mb-2 green_back_gold_front">
					<div class="row g-0">
						<h4>Specify officers to add to about page: </h4>
						<div class="space15"></div>
						<form method="POST" id="officers-add-form-id" name="officers-add-form-name"
							enctype="multipart/form-data">
							<label for="addname">Officer's Name:</label><br>
							<input type="text" id="officers-name-id" name="officers-name" value="John Doe"
								class="form-control"><br>
							<label for="desc">Officer's Description:</label><br>
							<input type="text" id="officers-desc-id" name="officers-desc"
								value="... officer description here ..." class="form-control"><br>
							<label for="file">Officer's Picture:</label><br>
							<input type="file" id="officers-file-id" name="officers-file" class="form-control"><br>
							<input type="submit" id='officers-button-id' name='officers-button' value="Add Officer"
								class="btn btn-outline-dark green_back_gold_front_lightened">
						</form>
						<div class="space"></div>
					</div>
				</div>
			</div>

			<!--selection-->
			<div class="container">
				<div class="col-16">
					<div class="card mb-2 green_back_gold_front">
						<h4 style="text-align: center;">Officer Selected:</h4>
						<img id="officerImage" src="/static/image_uploads/No Photo.jpg" class="card-img-top"
							alt="'s profile photo">
						<div class="card-body">
							<h5 id="officerTitle" class="card-title">Nothing selected!</h5>
							<p id="officerDesc" class="card-text">Choose an entry from the above dropdown menus.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<!-- Content Block -->
	<div id="Content" class="w3-container tab tabname" style="display:none">
		<div class="space15"></div>
		<div class="alert alert-success" role="alert" style="display: none;">
			Updated the content successfully!</div>
		<div class="row">
			<div class="col">
				<hr />
				<div class="row">
					<table id="block_table" class="table table-hover table-striped table-bordered dataTable dtr-inline"
						role="grid" aria-describedby="example_info">
						<thead>
						<tr role="row">
							<th rowspan="1" colspan="1" style="width: 140.2px;" aria-sort="ascending" aria-label="Name">
								Title</th>
							<th rowspan="1" colspan="1" style="width: 216.2px;" aria-label="ID">Id</th>
							<th rowspan="1" colspan="1" style="width: 100.2px;" aria-label="Modified Date">Modified Date
							</th>
						</tr>
					</thead>
					<tbody>
						{% for tup in blocks %}
						<tr role="row" class="odd">
							<td tabindex="0" class="sorting_1"><a class="editBlockAction" data-el="{{ tup[0] }}"
									href="#">{{ tup[1] }}</a></td>
							<td>{{ tup[0] }}</td>
							<td>{{ tup[3] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<hr />
		</div>
		<div class="col">
			<div class="row g-0">
				<form method="POST" name="update-page" id="formContent">
					<div id="currentId" style="display: none;"></div>
					<textarea id="content"></textarea>
					<div class="space15"></div>
					<button type="submit" id="btnUdpateContent"
						class="mb-2 mr-2 btn btn-outline-2x btn-outline-success"> <strong> Update Now
						</strong></button>
					<input id='tinymce-uploader' type='file' name='pic' accept='image/*' style='display:none'>
				</form>
			</div>
		</div>
	</div>
</div>

	<!-- Testimonials tab -->
	<div id="Testimonials" class="w3-container tab tabname" style="display:none">
		<div class="space"></div>
		<div class="row row-cols-4 row-cols-sm-3 g-lg-1">

			<!-- form to delete testimonials -->
			<div class="col-4">
				<div class="card mb-2 green_back_gold_front">
					<div class="row g-0">
						<h4>Specify testimonials to delete here: </h4>
						<div class="space"></div>
						<form method="POST">
							<label for="deletetestimonial">Testimonial Name:</label><br>
							<select name="deletetestimonial" id="deletetestimonial-id" class="form-control">
								{% for tup in testimonial %}
								<option value="{{ tup[0] }}">{{ tup[0] }}</option>
								{% endfor %}
							</select>
							<div class="space"></div>
							<input type="submit" id='delete-testimonial-button-id' name='delete-testimonial-button'
								value="Delete Testimonial" class="btn btn-outline-dark green_back_gold_front_lightened">
						</form>
					<div class="space"></div>
				</div>
			</div>
		</div>
			
			<!-- form to add testimonials-->
			<div class="col-4">
				<div class="card mb-2 green_back_gold_front">
					<div class="row g-0">
						<h4>Specify testimonials to add here: </h4>
						<form method="POST" id="testimonials-add-form-id" name="testimonials-add-form-name"
							enctype="multipart/form-data">
							<label for="addname">Testimonial Name:</label><br>
							<input type="text" id="testimonial-name-id" name="testimonial-name" value="John Doe"
								class="form-control"><br>
							<label for="desc">Testimonial Text:</label><br>
							<input type="text" id="testimonial-text1-id" name="testimonial-text1"
								value="... testimonial text 1 here ..." class="form-control"><br>
							<label for="desc">Company/ Position:</label><br>
							<input type="text" id="testimonial-text2-id" name="testimonial-text2"
								value="... testimonial text 2 here  ..." class="form-control"><br>
							<label for="file">Testimonial Picture:</label><br>
							<input type="file" id="testimonial-file-id" name="testimonial-file"
								class="form-control"><br>
							<input type="submit" id='testimonial-button-id' name='testimonial-button'
								value="Add Testimonial" class="btn btn-outline-dark green_back_gold_front_lightened">
						</form>
						<div class="space"></div>
					</div>
				</div>
			</div>
			
			<!--selection-->
			<div class="container">
				<div class="col-16">
					<div class="card mb-2 green_back_gold_front">
						<h4 style="text-align: center;">Testimonial Selected:</h4>
						<img id=testimonialImage src="/static/image_uploads/No Photo.jpg" class="card-img-top"
							alt="'s profile photo">
						<div class="card-body">
							<h5 id="testimonialTitle" class="card-title">Nothing selected!</h5>
							<p id="testimonialBody" class="card-text">Choose an entry from the above dropdown menus.</p>
							<p id="testimonialJob" class="card-text"><small class="text-muted">Job name here.</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Social Links Tab -->
	<div id="SocialLinks" class="w3-container tab tabname" style="display:none">
		<div class="space15"></div>
		<div class="alert alert-success-links" role="alert" style="display: none;">
			Updated changes!</div>
		<div class="row">
			<div class="col">
				<hr />
				<div class="row">
					<form method="POST" name="formlinks" id="formLinks">
					<table class="form-table" role="presentation">
						<tbody>
							{% for tup in links %}
							<tr>
								<th scope="row">
								  <label for="{{tup[0]}}">{{tup[1]}}</label>
								</th>
								<td>
								  <input name="{{tup[0]}}" type="text" id="{{tup[0]}}" value="{{tup[2]}}">
								</td>
							  </tr>
							{% endfor %}
						
						 
						</tbody>
					  </table>
					  <button type="submit" id="btnUdpateLink"
							class="mb-2 mr-2 btn btn-outline-2x btn-outline-success"> <strong> Save Changes
							</strong></button>
						</form>
				</div>
				<hr />
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
<br>

<!--inline js for content block editing-->
<script type="text/javascript">
	var editor = document.querySelector("#content");
	var id = document.querySelector("#currentId");
	var btnEditBlock = document.querySelectorAll(".editBlockAction");
	var btnUpdateBlock = document.querySelector("#btnUdpateContent");
	var formContent = document.querySelector("#formContent");
	var message = document.querySelector(".alert-success");
	
	btnEditBlock.forEach((btnEdit) => {
		btnEdit.addEventListener("click", function (e) {
			document.querySelector("#formContent").focus();
			message.style.display = "none";
			fetch('/editpage', {
				headers: {
					'Content-Type': 'application/json'
				},
				method: 'POST',
				body: JSON.stringify({
					'id': e.target.getAttribute('data-el'),
				})
			})
				.then(function (response) {
					if (response.ok) {
						response.json()
							.then(function (response) {
								tinymce.activeEditor.setContent(response.data[0][2]);
								id.innerHTML = response.data[0][0];
							});
					}
					else {
						throw Error('Error');
					}
				});
		});
	}); // might have extra closing brackets?

	formContent.addEventListener("submit", function (e) {
		fetch('/updatecontent', {
			headers: {
				'Content-Type': 'application/json'
			},
			method: 'POST',
			body: JSON.stringify({
				'id': id.textContent,
				'content': tinymce.activeEditor.getContent()
			})
		})
			.then(function (response) {
				if (response.ok) {
					response.json()
						.then(function (response) {
							console.log(response);
							tinymce.activeEditor.setContent(response.data[0][2]);
							id.innerHTML = response.data[0][0];

							message.innerHTML = response.message;
							message.style.display = "block";
						});

				}
				else {
					throw Error('Error');
				}
			})
			.catch(function (error) {
				console.log(error);
			});
		e.preventDefault();
		return false;
	});

	// for updating links 
	
	var updateLinkMessage = document.querySelector(".alert-success-links");
	var formLinks = document.querySelector("#formLinks");
	formLinks.addEventListener("submit", function (e) {
		var formLinksData = {
			joinusform : document.querySelector("#joinusform").value,
			//instagram : document.querySelector("#instagram").value,
			//facebook : document.querySelector("#facebook").value,
			//youtube : document.querySelector("#youtube").value,
			flickr : document.querySelector("#flickr").value,
			mailform : document.querySelector("#mailingform").value,
			donate : document.querySelector("#donate").value,
			donateaff : document.querySelector("#donateaff").value,
		}
		console.log(formLinksData);
		fetch('/updatelinks', {
			headers: {
				'Content-Type': 'application/json'
			},
			method : 'POST',
			body : JSON.stringify( {
				'data': formLinksData
			})
		})
		.then(function (response){
			if(response.ok) {
				response.json()
				.then(function(response) {
					updateLinkMessage.innerHTML = response.message;
					updateLinkMessage.style.display = "block";
				});
				
			}
			else {
				throw Error('Error');
			}
		})
			.catch(function(error) {
			console.log(error);
		});
		e.preventDefault();
		return false;
	});
</script>

<style>
	/* Footer removal */
	footer {
			display: none;
	}
</style>
{% endblock %}

