{% extends 'base.html' %}

{% block title %}
Contact Us - Rowing Club
{% endblock %}

{% block body %}

<!--CSS-->
<!-- We already pull this file down from a cdn in our header -->
<!-- This version of the file breaks our header styling -->
<!-- <link href="./static/css/bootstrap.css" rel="stylesheet"> -->

<!-- Boxicons CSS -->
<!--<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">-->

<!--First Block for ContactUs video-->
<!--First Block for Video introduction-->
<section class="video-introduction">
    <div>
        <!--Video Introduction page for Desktop-->
        <!--Video link: https://www.youtube.com/watch?v=sLiYTegsyxk-->
        <video autoplay loop muted plays-inline class="back-video">
            <source src="./static/video/contactus_video.mp4" type="video/mp4">
        </video>

        <div class="video-introduction-content">
            <h1 data-aos="fade-up" data-aos-duration="1000" class="hero-heading">Contact us</h1>
            <a data-aos="fade-down" data-aos-duration="1000"
                href="https://forms.gle/4r7Mjue4fTxdWX716">Sign-up</a>
        </div>
        {{social[0][2] | safe}}
    </div>
</section>

<!--End First Block for Video introduction-->
<!--End First Block for ContactUs-->

<!--Icon Block-->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <!--Home Logo-->
                    {{logo[0][2] | safe}}
                </div>
            </div>
        </div>
        <div class="space"></div>
        <!--End Icon Block-->
        <div class="space"></div>
        <!--Contact Block-->
        <div class="contact-container" data-aos="zoom-in-up" data-aos-delay="800" data-aos-duration="600">
            <div class="row no-gutters">
                <div class="col-md-7">
                    <div class="contact-wrap w-100 p-md-5 p-4">
                        <h3>Contact Us</h3>
                        <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                            <div class="space"></div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label" for="name" style="font-size: 18px;">Full Name</label>
                                        <input type="text" class="form-control" name="name" id="name"
                                            placeholder="Name">
                                    </div>
                                </div>
                                <div class="space"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label" for="email" style="font-size: 18px;">Email Address</label>
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label" for="email" style="font-size: 18px;">Phone number</label>
                                        <input type="tel" class="form-control" name="phone" id="phone"
                                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required placeholder="012-345-6789">
                                    </div>
                                </div>
                                <div class="space"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label" for="subject" style="font-size: 18px;">Subject</label>
                                        <input type="text" class="form-control" name="subject" id="subject"
                                            placeholder="Subject">
                                    </div>
                                </div>
                                <div class="space"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="label" for="#" style="font-size: 18px;">Message</label>
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="6"
                                            placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="space"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" value="Send Message" id="submit"> Submit
                                            <div class="submitting"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5 d-flex align-items-stretch">
                    <div class="info-wrap w-100 p-5 img"
                        style="background-image: url(./static/img/p3.jpeg); background-size: cover;"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Form Block-->
<!--Map-->
<section class="map" data-aos="fade-down" data-aos-duration="600">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.65833947523!2d-121.2221972!3d38.6337403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ae7038c8b90b3%3A0xdc6756a6a95c4e06!2s1901%20Hazel%20Ave%2C%20Gold%20River%2C%20CA%2095670!5e0!3m2!1sen!2sus!4v1681677210586!5m2!1sen!2sus"
        width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" zo
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<!--End Map-->

<!-- These might make more sense in base.html as part of a unified footer -->
<!--SMTP-->
<script src="./static/js/smtp.js"></script>

<!--Javascript-->
<script src="./static/js/script.js"></script>

<!--Amination-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}
