{% extends 'base.html' %}

{% block title %}
Donate - Rowing Club
{% endblock %}

{% block body %}

<head>
    <style>
        body {
            background-color: #ffffff;
        }

        .smashinglogo {
            background-image: url(./static/img/p4.jpeg);
            background-size: cover;
            background-position: center;
            height: 550px;
        }

        .container {
            padding-right: 75px;
        }
    </style>
</head>

<!-- Banner-->
<section id="donateBanner" class="story" data-speed="8" data-type="background">
    <div class="smashinglogo" data-offsetY="100" data-Xposition="50%" data-speed="-2">
        <div class="banner-introduction-content" data-aos="fade-up" data-aos-duration="1000">
            <div style="padding-top: 200px;"></div>
            <h1 class="team-member">Contribute</h1>
        </div>
    </div>
</section>
<!-- END Banner-->

<!--Contribute Block-->
<div class="space80"></div>
<div class="container-lg">
 <!-- Make a Donation Block -->    
	<div class="row justify-content-center">
		<div class="event-container">
			<div class="container-fluid bg-2 text-center">
				<div id="block-title2">
					<div id="title-label3" class="name"> Make a Donation</div>
					<div class="name-phone">Make a Donation</div> 
                        <div style="color: black;" style="font-weight: 600;" class="check"> 
                            <strong><h3>
                            You can help the Rowing Club by donating on
                            our official donation page!
                            </strong>
                        </div>
					<div class="donate-button">
						<div class="recruitment-button2">
							<a class="hello" href="#">Donate</a>
						</div>
					</div>
				</div>
			</div>
		</div>
        
 <!-- Donate to Affiliates Block -->        
		<div class="event-container">
			<div class="container-fluid bg-2 text-center"> 
				<div id="block-title2">
					<div id="title-label3" class="name"> Donate to Affiliates</div>
					<div class="name-phone">Donate to Affiliates</div>
                    <div style="color: black;" style="font-weight: 600;" class="check"> 
                        <h3><strong>This page is run by Sac State Alumni to help current club members!
                        </div>
					<div class="donate-button">
						<div class="recruitment-button2">
							<a class="hello" href="#">Donate</a>
						</div>
					</div>
				</div>
			</div>
		</div>

        <div class="space80"></div>

 <!-- Additional Information Block -->
 <div class="event-container">
    <div class="container-fluid bg-2 text-center"> 
        <div id="block-title3">
            <div id="title-label4" class="name"> Donate to Affiliates</div>
            <div class="name-phone">Donate to Affiliates</div>
            <div style="color: black;" style="font-weight: 600;" class="check"> 
                <h3><strong>Additional Information
                    Support the Sacramento State Rowing Club athletes in their elite and olympic pursuits. 
                    <br/>The money will help fund activities such as: (activities list here)
                </div>
                <h4 style="color: #005440;"><strong>If you would like to donate via Check: <br/>
                    Sacramento State Rowing Club <br/>
                    1901 Hazel Ave, <br/>
                    Gold River, CA 95670 <br/>
                </div>
        </div>
    </div>
</div>
        <div style="padding-top: 60px;"></div>
    </div>
</div>

<!--END Block contribution -->


<div class="space80"></div>
<!--Block Interested-->
<div class="background-block"
    style="background-image: url(./static/img/rowing.jpeg); background-size: cover;  background-position: fixed;">
    <div class="space15"></div>
    <div class="space80"></div>
    <div class="row">
        <div class="column" data-aos="fade-up" data-aos-duration="1000">
            <h2>Have questions?</h2>
            <h2>please contact us</h2>
        </div>
        <div class="column">
            <div class="recruitment-button">
                <a data-aos="fade-up" data-aos-duration="1000" href="/contact">Contact Us</a>
            </div>
        </div>

        <div class="space15"></div>
        <div class="space80"></div>
    </div>
</div>
<!--END Block interested-->

<!--Swiper Js-->
<script src="./static/js/swiper-bundle.min.js"></script>

<!--Javascript-->
<script src="./static/js/script.js"></script>

<!--Amination-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}
