{% extends 'base.html' %}

{% block title %}
Donate - Rowing Club
{% endblock %}

{% block body %}

<!--First Block for Video introduction-->
<section class="video-introduction">
    <div>
        <!--Video Introduction page for Desktop-->
        <!--Video link: -->
        <video autoplay loop muted plays-inline class="back-video">
            <source src="./static/video/handshake.mp4" type="video/mp4">
        </video>

        <div class="video-introduction-content">
            <h1 data-aos="fade-up" data-aos-duration="1000" class="hero-heading">Contribute</h1>
            <a data-aos="fade-down" data-aos-duration="1000" href="/contact">More information</a>
        </div>
    </div>
</section>
<!--End First Block for Video introduction-->
<div class="tm-page-wrap mx-auto">
    <section class="p-5 tm-container-outer tm-bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
                    <h2 class="text-uppercase mb-4" style="font-size: 40px;">Make A <strong>Donation</strong></h2>
                    <p style="font-size: 22px;" class="mb-4">You can help the Rowing Club by donating on our official
                        donation page! <br />
                        After clicking the link below, <strong> at Fund Designation: choose "Rowing Club." </strong></p>
                    <div class="donate-button">
                        <div class="recruitment-button2">
                            <a class="hello" href="https://swarmfunding.csus.edu/project/36577/donate">Click here</a>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="space"></div>

    <div class="container-fluid">
        <div class="container-fluid bg-2 text-center"> 
            <div id="block-title3">
                <div id="title-label4" class="name"> Additional Information</div>
                <h2 class="extra-info" style="font-size: 40px;">Additional <strong>Info</strong></h2>
                <div class="name-phone">Additional Information</div>
                
                <div style="color: black;" style="font-weight: 600;" class="check"> 
                    <h3><strong>
                        Support the Sacramento State Rowing Club athletes in their journey to WIRAs. 
                        <br/> <em>The money will help fund activities such as: </strong>
                        <br/> New Equipment, Team Gear, Scholarships, Team Travel, 
                        <br/> Regatta Entry Fees, Coxswain Training.</em>
                    </div>
                    <h4 style="color: #005440;"> <br/><strong>If you would like to donate via Check
                        <br/> <em>Sac State Rowing Club
                        <br/> 6000 J Street,
                        <br/>Sacramento, CA 95819 </em></strong>
                        <div class="space80"></div>
                    </h4>
            </div>
        </div>
    </div>  
    <div class="space80"></div>
</div>

<div class="space"></div>
<!--Block Interested-->
<div class="background-block"
    style="background-image: url(./static/img/rowing.jpeg); background-size: cover;  background-position: fixed;">
    <div class="space15"></div>
    <div class="space80"></div>
    <div class="row">
        <div class="column" data-aos="fade-up" data-aos-duration="1000">
            <h2>Have questions?</h2>
            <h2>please contact us</h2>
        </div>
        <div class="column">
            <div class="recruitment-button">
                <a data-aos="fade-up" data-aos-duration="1000" href="/contact">Contact Us</a>
            </div>
        </div>

        <div class="space15"></div>
        <div class="space80"></div>
    </div>
</div>
<!--END Block interested-->

<!--Swiper Js-->
<script src="./static/js/swiper-bundle.min.js"></script>

<!--Javascript-->
<script src="./static/js/script.js"></script>

<!--Amination-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}
