{% extends 'base.html' %}
{% block custom_head %}
<script type="text/javascript" src="../static/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "#content",
            plugins: ['autolink',
           'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
           'fullscreen','insertdatetime','media','table','help','wordcount','code'
        ],
        toolbar: 'undo redo | casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | code table help'
        });

    </script>

{% endblock %}

{% block title %}
	Rowing Club Website Templates Demo
{% endblock %}

{% block body %}
<div>Edit {{page [0][1] }}</div>
{% if result != 0 %}
<div class="alert alert-success" role="alert">
    Updated the content successfully!
  </div>
  {% endif %}
<form method="post" name="update-page">
    <textarea id="content" name="content">{{page[0][2]}}</textarea>
     <button type="submit" id="submit" class="mb-2 mr-2 btn btn-outline-2x btn-outline-success" onclick="return submit();">Update</button>
    
</form>       
    
{% endblock %}
