{% extends 'base.html' %}

{% block title %}
	Rowing Club Website Templates Demo
{% endblock %}

{% block body %}
<p>Welcome to the Rowing Club Gallery. Here you can view, download, and upload rowing club-related images.</p>
    <p><a href="https://imgur.com/">Click here to access our Imgur gallery</a></p>
<style>
.carousel {
	width:500px;
	height:500px;
	overflow: hidden;
}
.carousel-img
{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
	overflow: hidden;
  background-size: cover;
}
.item img{
  width:100%!important;
  height:100%!important;
}
</style>

<center>
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.hallmark.com/dw/image/v2/AALB_PRD/on/demandware.static/-/Sites-hallmark-master/default/dw63b5be64/images/finished-goods/Light-the-Candles-Cat-in-Sunglasses-Funny-Birthday-Card_369ZZB3738_04.jpg?sw=1920" class="d-block w-100" alt="Cat with sunglasses 1.">
  		<div class="carousel-caption d-none d-md-block text-muted">
    	<h5>Oh dang!</h5>
    	<p>Look how cool this cat is! :O</p>
  		</div>
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/21/d0/95/21d095310d4b22cb7b30028ea44f821e.jpg" class="d-block w-100" alt="Cat with sunglasses 2.">
  		<div class="carousel-caption d-none d-md-block text-muted">
    	<h5>Two cool cats for the price of one.</h5>
    	<p>Look at his sunglasses.</p>
  		</div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<br>
</center>

{% endblock %}
