{% extends 'base.html' %}

{% block title %}
Join Us - Rowing Club
{% endblock %}



{% block body %}
<!--First Block for Video introduction-->
<section class="video-introduction">
    <div>
        <!--Video Introduction page for Desktop-->
        <!--Video link: https://www.youtube.com/watch?v=sLiYTegsyxk-->
        <video autoplay loop muted plays-inline class="back-video">
            <source src="./static/video/video_introduction.mp4" type="video/mp4">
        </video>

        <div class="video-introduction-content">
            <h1 data-aos="fade-up" data-aos-duration="1000" class="hero-heading">Join the Team</h1>
            <a data-aos="fade-down" data-aos-duration="1000"
                href="https://docs.google.com/forms/d/e/1FAIpQLSfZgOi84FUsV-uXBSIsJuTX3pKZdlFydBgsojzrhYNo09q4ZA/formResponse">Click
                here</a>
        </div>
    </div>
</section>
<!--End First Block for Video introduction-->

<!--Block: Why Us?-->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75" data-aos="fade-down" data-aos-duration="1000"
                            src="./static/img/p1.png" style="margin-top: 0%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100" data-aos="fade-left" data-aos-duration="1000"
                            src="./static/img/p2.jpeg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-130" data-aos="fade-right" data-aos-duration="1000"
                            src="./static/img/p3.jpeg" style="margin-top: -60%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75" data-aos="fade-up" data-aos-duration="1000"
                            src="./static/img/p4.jpeg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-heading" data-aos="fade-down" data-aos-duration="1000">
                    <h1>Why us?</h1>
                </div>
                <p style="font-size: 22px;" data-aos="fade-up" data-aos-duration="1000">
                    &#x2022; Sac State rowing lets you meet new individuals and make new
                    friends.
                    The friendships that you develop will stay with you throughout your life.
                    The learnings that you gain through practice can be applied in various ways,
                    such as in the classroom and in the real world. The community also extends beyond the country,
                    state, and city limits.
                </p>
            </div>
        </div>
    </div>
</div>
<!--End Block Why Us?-->

<!-- Block Why Us? (cont) -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6">
                <p style="font-size: 22px;" data-aos="fade-right" data-aos-duration="1000"> &#x2022; You’ll meet new
                    people through the practice of rowing. The
                    goal of the team is to
                    build a close-knit environment where all members are dedicated to achieving success.
                    We encourage a competitive environment and strive to improve the members’ performance.
                </p>
                <p style="font-size: 22px;" data-aos="fade-left" data-aos-duration="1000"> &#x2022; The goal of the
                    program is to provide a challenging
                    environment that pushes the
                    members'
                    physical and mental limits. Through the program, you'll have the opportunity to travel across
                    the
                    country and compete against other club teams around the U.S.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid rounded w-100" data-aos="fade-down" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1000" src="./static/img/p5.jpeg">
            </div>
        </div>
    </div>
</div>
<!-- End: Block Why Us? (cont) -->

<!--Block: Interested: Join us-->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="text-heading">
                    <h1 class="mb-4" data-aos="fade-right" data-aos-duration="1000">
                        Interested to Being a part of the Team?</span></h1>
                </div>

                <p style="text-align:center; font-size: 22px;" data-aos="zoom-in" data-aos-duration="1000">All are
                    welcome with <b>NO EXPERIENCE REQUIRED</b>
                </p>
                <div class="video-introduction-content-button">
                    <a data-aos="fade-left" data-aos-duration="1000"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSfZgOi84FUsV-uXBSIsJuTX3pKZdlFydBgsojzrhYNo09q4ZA/formResponse">Join
                        us</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100" data-aos="zoom-in" data-aos-duration="1000"
                            data-aos-delay="0" src="./static/img/p7.jpeg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100" data-aos="zoom-in" data-aos-duration="1000"
                            data-aos-delay="200" src="./static/img/p8.jpeg" style="margin-top: -65%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75" data-aos="zoom-in" data-aos-duration="1000"
                            data-aos-delay="400" src="./static/img/p6.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--EndBlock: Interested: Join us-->

<!--Testimonial Block-->
<div class="text-heading-background">
    <div class="text-heading">
        <h1 data-aos="fade-down" data-aos-duration="1000">Our Testimonials</h1>
    </div>
    <section class="container-testi">
        <div class="testimonial mySwiper">
            <div class="testi-content swiper-wrapper" data-aos="zoom-in" data-aos-duration="1000">
                <!--<div class="slide swiper-slide">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Spider-Man.jpg/1200px-Spider-Man.jpg"
                        alt="" class="image" />
                    <p style="font-size: 18px;">
                        A testimonial from a
                        client who benefited from your product or service.
                        Testimonials can be a highly effective way of establishing
                        credibility and increasing your company's reputation.
                    </p>
                    <i class="bx bxs-quote-alt-left quote-icon"></i>
                    <div class="details">
                        <span class="name">Spiderman</span>
                        <span class="job">Student</span>
                    </div>
                </div>-->
				{% for tup in test %}

                <div class="slide swiper-slide">
                    <img src="static/image_uploads/{{ tup[2] }}" alt="" class="image" />
                    <p style="font-size: 18px;">
                        {{ tup[1] }}
                    </p>
                    <i class="bx bxs-quote-alt-left quote-icon"></i>
                    <div class="details">
                        <span class="name">{{ tup[0] }}</span>
                        <span class="job">{{ tup[3] }}</span>
                    </div>
                </div>
				{% endfor %}
            </div>
            {% for item in tup %}

            <tr>
                <div class="slide swiper-slide">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Spider-Man.jpg/1200px-Spider-Man.jpg"
                        alt="" class="image" />
                    <p style="font-size: 18px;">
                        A testimonial from a
                        client who benefited from your product or service.
                        Testimonials can be a highly effective way of establishing
                        credibility and increasing your company's reputation.
                    </p>
                    <i class="bx bxs-quote-alt-left quote-icon"></i>
                    <div class="details">
                        <span class="name">Spiderman</span>
                        <span class="job">Student</span>
                    </div>
                </div>
                {% endfor %}
                <div class="swiper-button-next nav-btn"></div>
                <div class="swiper-button-prev nav-btn"></div>
                <div class="swiper-pagination"></div>
        </div>
    </section>
</div>
<!--End Testimonial Block-->

<!--Last Block for Social-->
<div class="last-video-help-block">
    <section class="video-help" style="background-color: #005440">
       
        <div class="video-help-content">
            <br>
            <p>Have any questions?</p>
            <br>
            <p>Email us at abcd@csus.com</p>
            <div class="wrapper-social-icon">
                <div class="button-social" data-aos="fade-down" data-aos-duration="1000">
    
                    <div class="social-icon">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <a href="https://facebook.com"><span>Facebook</span></a>
                </div></a>
                <div class="button-social" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <a href="https://instagram.com"><span>Instagram</span></a>
                </div></a>
                <div class="button-social" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400">
                    <div class="social-icon">
                        <i class="fab fa-youtube"></i>
                    </div>
                    <a href="https://youtube.com"><span>YouTube</span></a>
                </div></a>
                <div class="space80"></div>
            </div>
            <!--Social media-->
        </div>
    </section>
</div>
<!--End Last Block for Video introduction-->


<!--Swiper Js-->
<script src="./static/js/swiper-bundle.min.js"></script>

<!--Javascript-->
<script src="./static/js/script.js"></script>

<!--Amination-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}
