{% extends 'base.html' %}

{% block title %}
Rowing Club Website Templates Demo
{% endblock %}

{% block body %}
<div class="parent clearfix">
	<div class="bg-illustration">
		<img src=".\static\img\Rowinglogo.svg" alt="logo">
	</div>

	<div class="login">
		<div class="container">
			<h1>Hello Admin;-)<br />Welcome to Admin Portal</h1>
			<div class="login-form">
				<form form action='login' method='POST'>
					<input type='text' name='email' id='email' placeholder='Email Adress' class='form-control'></input>
					<input type='password' name='pw' id='pw' placeholder='Password' class='form-control'>

					<div class="remember-form">
						<input type="checkbox">
						<span>Remember me</span>
					</div>
					<div class="forget-pass">
						<a href="#">Forgot Password ?</a>
					</div>

					<button type='submit' name='submit'>LOG IN</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="space80"></div>


<div class = "container">
	<form action = "verify" method = "POST">
		<p>TESTING</p>
        Email address: <input type="email" name="email_otp" placeholder="Enter recepient's email address">  
        <input type = "submit" value="Submit">  
    </form> 
</div>
<br>
<div class="space15"></div>

{% endblock %}
