<!-- I have no idea what I am doing. If that answers any questions. Like why. Many, many why's.-->
<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-width: 100%
    }

    .image {
        flex-basis: 40%
    }

    .text {
        font-size: 40px;
        padding-left: 20px;
    }

    .grid-container {
        display: grid;
        column-gap: 50px;
        row-gap: 50px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    col {
        display: flex;
        align-items: end;
        justify-content: end;
    }

    h4 {
        text-align: center;
    }

    .button {
        background-color: #043927;
        border: none;
        color: #c4b581;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
{% extends 'base.html' %}

    {% block title %}
    Team Roster - Rowing Club
    {% endblock %}

{% block body %}

<br>

<div class="container-fluid bg-2 text-center">
    <h1>Active Team Members</h1>
</div>

<br>

<div class="container-fluid">
    <div class="row row-cols-3 row-cols-sm-3 g-lg-1">
        {% for tup in member %}
        <div class="col-4">
            <div class="card mb-3 green_back_gold_front">
            <div class="row g-0">
            <div class="col-md-4">
                <div class="card-body">
                <h5 class="card-title">{{ tup[0] }}</h5>
                    <img src="static/image_uploads/{{ tup[2] }}"  
                    class="img-fluid rounded-start" 
                    alt="{{ tup[0] }}'s profile photo.">
                    <p class="card-text">{{ tup[1] }}</p>
                <p class="card-text text-muted">Role: {{ tup[3] }}</small></p>
            </div>
            </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


</div>
<div class= "container-fluid text-center">
<h4> Are you looking for Alumni?</h4>
<a href="/alumni" class="button">Alumni Page</a>
</div>
<br>

    <!--Swiper Js-->
    <script src="./static/js/swiper-bundle.min.js"></script>

    <!--Javascript-->
    <script src="./static/js/script.js"></script>

    <!--Amination-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
{% endblock %}
