<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-width: 100%
    }

    .image {
        flex-basis: 40%
    }

    .text {
        font-size: 40px;
        padding-left: 20px;
    }

    .grid-container {
        display: grid;
        column-gap: 50px;
        row-gap: 50px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    col {
        display: flex;
        align-items: end;
        justify-content: end;
    }

    h4 {
        text-align: center;
    }

    .button {
        background-color: #043927;
        border: none;
        color: #c4b581;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
    }
    /* Team member cards */
    .card {
        border: none;
        transition: transform 0.2s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    /* Media Queries */
    @media (max-width: 767px) {
        /* For screens smaller than 768px (mobile devices) */
        .row-cols-md-3 {
            display: flex;
            flex-wrap: wrap;
        }
        .col {
            flex-basis: calc(50% - 1rem);
            margin-right: 1rem;
            margin-bottom: 2rem;
        }
        .col:last-child {
            margin-right: 0;
        }
    }
</style>

{% extends 'base.html' %}

{% block title %}
    Team Roster - Rowing Club
{% endblock %}

{% block body %}
<div class="container-fluid bg-primary text-white text-center py-4">
    <h1 class="display-4">Active Team Members</h1>
</div>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for tup in member %}
        <div class="col">
            <div class="card">
                <img src="static/image_uploads/{{ tup[2] }}" class="card-img-top" alt="{{ tup[0] }}'s profile photo">
                <div class="card-body">
                    <h5 class="card-title">{{ tup[0] }}</h5>
                    <p class="card-text">{{ tup[1] }}</p>
                    <p class="card-text"><small class="text-muted">Role: {{ tup[3] }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container-fluid text-center mt-5">
    <h4 class="mb-4">Are you looking for Alumni?</h4>
    <a href="/alumni" class="btn btn-success btn-lg">Alumni Page</a>
</div>

<!-- Add any necessary scripts here -->
<script src="./static/js/swiper-bundle.min.js"></script>
<script src="./static/js/script.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock %}
