{% extends 'base.html' %}

{% block title %}
Welcome - Rowing Club
{% endblock %}

{% block body %}

<!-- TODO: Linking to an image file like this is a bad idea -->
<!-- We don't know if discord will continue to host this image or not. -->
<!-- We should be storing a copy of this image in our static directory instead -->
<style>
	body {
		background-image: url('https://cdn.discordapp.com/attachments/1014300694238482442/1092926714709016757/image.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
	}
</style>

<!--First Block for ContactUs video-->
<!--First Block for Video introduction-->
<section class="video-introduction">
	<div>
		<!--Video Introduction page for Desktop-->
		<!--Video link: https://www.youtube.com/watch?v=sLiYTegsyxk-->
		<video autoplay loop muted plays-inline class="back-video">
			<source src="./static/video/welcome_video.mp4" type="video/mp4">
		</video>

		<div class="video-introduction-content">
			<h1 data-aos="fade-down" data-aos-duration="1000">Sacramento State Rowing Club</h1>
		</div>
	</div>
</section>

<!--
<div data-aos="zoom-in-up" data-aos-duration="1000" class="jumbotron text-center green_back_gold_front col-5 mx-auto">
	<h1>Welcome To The Sacramento State Rowing Club Homepage</h1>
</div>
-->

<br>
<br>

<div class="card text-left green_back_gold_front col-7 mx-auto" data-aos="fade-left" data-aos-duration="1000">
	<br>
	<ul>
		<h2>About Us</h2>
		<ul class="list-group list-group-flush offset-md-1 fs-4">
			<li>
				<p>Website for everthing Sacramento State Rowing related.</p>
			</li>
			<li>
				<p>This website contains many of the ongoing events and current team member rosters.</p>
			</li>
			<li>
				<p>Stingers up!</p>
			</li>
		</ul>
	</ul>
</div>

<br>
<br>

<div class="card green_back_gold_front text-center container-xl" data-aos="fade-right" data-aos-duration="1000">
	<img src="https://cdn.discordapp.com/attachments/1014300694238482442/1092929612880805949/image.png"
		style="height: 460px;" class="card-img" alt="...">
	<div class="card-img-overlay mx-auto">
		<h1 class="card-title text-center">Interested in joining?</h1>
		<!--https://forms.gle/nNq3ySVYcjgHjMb27-->
		<button onclick="document.location='https://forms.gle/nNq3ySVYcjgHjMb27'"
			class="btn green_back_gold_front btn-lg col-4 fs-2" data-aos="zoom-in-up"
			data-aos-duration="1000">Recruitment Form</button>
	</div>
</div>

<br>

<!-- Example styling for fixed height cards with  -->
<!-- scrollbar on overflow -->
<style>
	.row {
		display: flex;
		overflow-x: scroll;
		overflow-y: scroll;
	}

	.card-body {
		height: 179px;
		width: 406px;
	}

	.card-text {
		height: 72px;
		width: 374px;
		overflow-y: auto;
	}

	.card-title {
		height: 40px;
		width: 374px;
		white-space: nowrap;
		overflow-x: scroll;
	}
</style>
<div class="card green_back_gold_front mb-3 container-xl" data-aos="fade-up" data-aos-duration="1000">
	<div class="card-header">
		<h1 class="offset-md-1" style="text-align: center;">Upcoming Events</h1>
	</div>
	<div class="space15"></div>
	<div class="row row-cols-1 row-cols-md-2 g-4">

		{% if next_events|length >=1 %}
		<div class="col">
			<div class="card col-9 offset-md-3" data-aos="fade-right" data-aos-duration="1000">
				<div class="card-body">
					<h3 class="card-title">{{next_events[0][0]}}</h3>
					<p class="card-text">Location: {{next_events[0][2]}}<br>Date:
						{{next_events[0][3]}}<br>{{next_events[0][1]}}</p>
				</div>
			</div>
		</div>
		{%else%}
		<!-- No event to emit here -->
		{% endif %}

		{% if next_events|length >=2 %}
		<div class="col">
			<div class="card col-9 offset-md-0" data-aos="fade-left" data-aos-duration="1000">
				<div class="card-body">
					<h3 class="card-title">{{next_events[1][0]}}</h3>
					<p class="card-text">Location: {{next_events[1][2]}}<br>Date:
						{{next_events[1][3]}}<br>{{next_events[1][1]}}</p>
				</div>
			</div>
		</div>
		{%else%}
		<!-- No event to emit here -->
		{% endif %}

		{% if next_events|length >=3 %}
		<div class="col">
			<div class="card col-9 offset-md-3" data-aos="fade-right" data-aos-duration="1000">
				<div class="card-body">
					<h3 class="card-title">{{next_events[2][0]}}</h3>
					<p class="card-text">Location: {{next_events[2][2]}}<br>Date:
						{{next_events[2][3]}}<br>{{next_events[2][1]}}</p>
				</div>
			</div>
		</div>
		{%else%}
		<!-- No event to emit here -->

		{% endif %}

		{% if next_events|length >=4 %}
		<div class="col">
			<div class="card col-9 offset-md-0" data-aos="fade-left" data-aos-duration="1000">
				<div class="card-body">
					<h3 class="card-title">{{next_events[3][0]}}</h3>
					<p class="card-text">Location: {{next_events[3][2]}}<br>Date:
						{{next_events[3][3]}}<br>{{next_events[3][1]}}</p>
				</div>
			</div>
		</div>
	</div>
	{%else%}
	<!-- No event to emit here -->
	{% endif %}

	<br>
</div>

<!--Swiper Js-->
<script src="./static/js/swiper-bundle.min.js"></script>

<!--Javascript-->
<script src="./static/js/script.js"></script>

<!--Amination-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
	AOS.init();
</script>

<!--make pretty-->
<!--<div class="card text-center text-white">
	<img src="https://cdn.discordapp.com/attachments/890299818252042261/1087763475033509961/IMG_2944.jpg" class="card-img" alt="...">
  	<div class="card-img-overlay">
		<h5 class="card-title">Interested in joining?</h5>
		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		<button onclick="document.location='https://koralreef.carrd.co/'" class="btn py-3 green_back_gold_front btn-lg">Recruitment Form</button>
	</div>
</div>-->
<!--
<div class="container">
	<div class="row green_back_gold_front">
		{% for tup in players %}
			<h3>{{ tup[0] }}</h3>
			<p>{{ tup[1] }}</p>
		{% endfor %}
	</div>
</div>
</div>-->
{% endblock %}